<template>
  <div class="md-layout-item md-small-size-100 md-size-100">
    <div class="md-layout-item md-small-size-100 md-size-33">
      <md-card>
        <md-card-header
          class="md-card-header-icon"
          :class="getClass(headerColor)"
        >
          <div class="card-icon">
            <md-icon>search</md-icon>
          </div>
          <h4 class="title">Search Criteria</h4>
        </md-card-header>

        <md-card-content>
          <center>
            <span class="currentDateLabel"
              >Current Timeframe:
              {{ $store.state.sessions.CurrentTimeFrame }}</span
            >
            <md-field>
              <md-select v-model="DateSelected">
                <p @click="clearData">
                  <md-option value="today">Today</md-option>
                  <md-option value="weekly">Week to Date</md-option>
                  <md-option value="monthly">Month to Date</md-option>
                  <md-option value="yearly">Year to Date</md-option>
                  <md-option value="custom">Custom Date Range</md-option>
                </p>
              </md-select>
            </md-field>
            <div v-if="DateSelected == 'custom'">
              Start Date:
              <flat-pickr
                id="startOn"
                v-model="startOn"
                :config="config"
                class="form-control"
                mobil
                name="startOn"
                placeholder="Select date"
              >
              </flat-pickr
              ><br />
              End Date:
              <flat-pickr
                id="endOn"
                v-model="endOn"
                :config="config"
                class="form-control"
                name="endOn"
                placeholder="Select date"
              >
              </flat-pickr>
            </div>
          </center>
        </md-card-content>
        <md-button @click="changeTimeframe" class="md-success"
          >Change Timeframe</md-button
        >
      </md-card>
    </div>
    <br />
    <div class="md-layout-item md-small-size-100 md-size-100">
      <md-card>
        <md-card-header
          class="md-card-header-icon"
          :class="getClass(headerColor)"
        >
          <div class="card-icon">
            <md-icon>receipt</md-icon>
          </div>
          <h4 class="title">Sessions Display</h4>
        </md-card-header>

        <md-card-content>
          <div class="md-layout md-small-size-100 md-size-100">
            <el-table
              ref="elTable"
              :data="$store.state.sessions.Sessions"
              :header-cell-style="tableRowStyle"
              :cell-style="tableRowStyle"
              style="width: 100%"
            >
              <el-table-column label="Billing Office" prop="customer_name" />
              <el-table-column label="Base #" prop="serial" />
              <el-table-column label="# of GSFs" prop="configured" />
              <el-table-column label="GSF Serials" prop="afads" />
              <el-table-column label="Start Time" prop="start" />
              <el-table-column label="End Time" prop="end" />
              <el-table-column label="Hours" prop="realLength" />
              <el-table-column label="Location" prop="formatted_address" />
              <el-table-column label="Sub-Office" prop="office_name" />
              <el-table-column label="View Site" prop="scope" align="right">
                <template slot-scope="scope">
                  <a
                    style="color: green"
                    :href="'#/dashboard/' + scope.row.session_id"
                    >View Site</a
                  >
                </template>
              </el-table-column>
            </el-table>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>
<script>
import Swal from "sweetalert2";
import { employeeListMethods } from "@/state/helpers";

export default {
  components: {},
  name: "view-sessions-content",
  props: {
    headerColor: {
      type: String,
      default: "blue",
    },
  },
  mounted() {},
  data() {
    return {
      SessionFields: [
        {
          key: "customer_name",
          label: "Billing Office",
          field: "customer_name",
          sortable: true,
        },
        {
          key: "serial",
          label: "Base #",
          field: "serial",
          sortable: true,
        },
        {
          key: "configured",
          label: "# of AFADs",
          field: "configured",
          sortable: false,
        },
        {
          key: "afads",
          label: "AFAD Serials",
          field: "afads",
          sortable: false,
        },
        {
          key: "start",
          label: "Start Time",
          field: "start",
          sortable: false,
        },
        {
          key: "end",
          label: "End Time",
          field: "end",
          sortable: false,
        },
        {
          key: "realLength",
          label: "Hours",
          field: "realLength",
          sortable: true,
        },
        {
          key: "formatted_address",
          label: "Address",
          field: "formatted_address",
          sortable: false,
        },
        {
          key: "office_name",
          label: "Sub-Office",
          field: "office_name",
          sortable: true,
        },
        {
          key: "view_site",
          label: "View Site",
          sortable: false,
        },
      ],
      DateSelected: "today",
      endOn: "",
      startOn: "",
      search: "",
    };
  },

  methods: {
    notifyVue(message, type) {
      this.$notify({
        message: message,
        icon: "add_alert",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: type,
      });
    },
    clearData() {
      this.endOn = "";
      this.startOn = "";
    },
    changeTimeframe() {
      var data = [];
      data["startOn"] = this.startOn;
      data["endOn"] = this.endOn;
      console.log(data);
      this.notifyVue(
        "Timeframe has been changed to " + this.DateSelected + ".",
        "success"
      );
      this.$store.dispatch(
        "sessions/ChangeSessionTimeFrame",
        this.DateSelected
      );
      this.$store.dispatch("sessions/getsessions", data);
    },
    tableRowStyle({ row, rowIndex }) {
      return "text-align: center; color: black;";
    },
    getClass: function (headerColor) {
      return "md-card-header-" + headerColor + "";
    },
  },
};
</script>
<style>
.text-center {
  text-align: center;
}
.currentDateLabel {
  text-transform: capitalize;
}
.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}
.table > :not(:first-child) {
  border-top: 2px solid currentColor;
}

.caption-top {
  caption-side: top;
}

.table-sm > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}
.table-borderless > :not(:first-child) {
  border-top-width: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.table-active {
  --bs-table-accent-bg: var(--bs-table-active-bg);
  color: var(--bs-table-active-color);
}

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.table-primary {
  --bs-table-bg: #cfe2ff;
  --bs-table-striped-bg: #c5d7f2;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bacbe6;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #bfd1ec;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #bacbe6;
}

.table-secondary {
  --bs-table-bg: #e2e3e5;
  --bs-table-striped-bg: #d7d8da;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #cbccce;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #d1d2d4;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #cbccce;
}

.table-success {
  --bs-table-bg: #d1e7dd;
  --bs-table-striped-bg: #c7dbd2;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bcd0c7;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #c1d6cc;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #bcd0c7;
}

.table-info {
  --bs-table-bg: #cff4fc;
  --bs-table-striped-bg: #c5e8ef;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #badce3;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #bfe2e9;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #badce3;
}

.table-warning {
  --bs-table-bg: #fff3cd;
  --bs-table-striped-bg: #f2e7c3;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #e6dbb9;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #ece1be;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #e6dbb9;
}

.table-danger {
  --bs-table-bg: #f8d7da;
  --bs-table-striped-bg: #eccccf;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #dfc2c4;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #e5c7ca;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #dfc2c4;
}

.table-light {
  --bs-table-bg: #f8f9fa;
  --bs-table-striped-bg: #ecedee;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #dfe0e1;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #e5e6e7;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #dfe0e1;
}

.table-dark {
  --bs-table-bg: #212529;
  --bs-table-striped-bg: #2c3034;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: #373b3e;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.text-center {
  text-align: center;
}
</style>
