<template>
  <md-card class="md-card-profile">
    <md-card-content>
      <md-table
        class="text-center"
        v-model="$store.state.notification.Notifications"
        table-header-color="blue"
      >
        <md-table-row slot="md-table-row" slot-scope="{ item }">
          <md-table-cell md-label="Title">{{ item.title }}</md-table-cell>
          <md-table-cell md-label="Content">{{ item.content }}</md-table-cell>
          <md-table-cell md-label="Link">{{ item.link }}</md-table-cell>
          <md-table-cell md-label="Posted Date">{{
            moment(item.datetime).format("MMMM DD, yyyy")
          }}</md-table-cell>
          <md-table-cell md-label="Actions">
            <md-button
              class="md-just-icon md-danger md-simple"
              @click.native="handleDelete(item)"
            >
              <md-icon>close</md-icon>
            </md-button></md-table-cell
          >
        </md-table-row>
      </md-table>
    </md-card-content>
  </md-card>
</template>
<script>
import { notificationMethods } from "@/state/helpers";
import Swal from "sweetalert2";
import onyxapi from "@/services/onyxapi";

export default {
  name: "list-of-news-posts",
  props: {
    cardUserImage: {
      type: String,
      default: "./img/faces/marc.jpg",
    },
    buttonColor: {
      type: String,
      default: "",
    },
  },
  data() {
    return {};
  },
  methods: {
    ...notificationMethods,
    handleDelete(item) {
      Swal.fire({
        title: `You are about to delete ${item.title}`,
        text: `Once deleted you will not be able to reverse this!`,
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "md-button md-success btn-fill",
        cancelButtonClass: "md-button md-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          let that = this;
          const params = new FormData();
          params.append("action", "disableNewsPost");
          params.append("NewsPostID", item.id);
          onyxapi.post("/disablenewspost", params).then(function (response) {
            if (response.data != null) {
              const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                  confirmButton: "md-button md-success",
                },
                buttonsStyling: false,
              });
              swalWithBootstrapButtons.fire({
                title: "News Post Removed!",
                text: "The news post was removed successfully.",
                icon: "success",
                confirmButtonText: "Continue",
                buttonsStyling: true,
              });
              that.setnotifications();
            } else {
            }
          });
        }
      });
    },
    getColorButton: function (buttonColor) {
      return "md-" + buttonColor + "";
    },
  },
};
</script>
<style>
.md-table-head {
  text-align: center;
}
.text-center {
  text-align: center;
}
</style>
