<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-size-50">
        <edit-news-post-form header-color="blue"> </edit-news-post-form>
      </div>
      <div class="md-layout-item md-medium-size-100 md-size-50">
        <list-of-news-posts button-color="success"> </list-of-news-posts>
      </div>
    </div>
  </div>
</template>

<script>
import { EditNewsPostForm, ListOfNewsPosts } from "@/pages";
export default {
  components: {
    EditNewsPostForm,
    ListOfNewsPosts,
  },
};
</script>
<style lang="scss">
.text-right {
  display: flex;
}
</style>
