<template>
  <div class="md-layout">
    <div class="md-layout-item md-medium-size-33 md-xsmall-size-100 md-size-33">
      <stats-card header-color="green">
        <template slot="header">
          <div class="card-icon">
            <md-icon>calendar_view_day</md-icon>
          </div>
          <p class="category">Active Sites Today</p>
          <h3 class="title">
            <span>{{ ActiveSitesToday }}</span>
          </h3>
        </template>
      </stats-card>
    </div>
    <div class="md-layout-item md-medium-size-33 md-xsmall-size-100 md-size-33">
      <stats-card header-color="blue">
        <template slot="header">
          <div class="card-icon">
            <md-icon>calendar_view_week</md-icon>
          </div>
          <p class="category">Total Sites - Month to Date</p>
          <h3 class="title">
            <span>{{ MonthlySites }}</span>
          </h3>
        </template>
      </stats-card>
    </div>
    <div class="md-layout-item md-medium-size-33 md-xsmall-size-100 md-size-33">
      <stats-card header-color="rose">
        <template slot="header">
          <div class="card-icon">
            <md-icon>calendar_month</md-icon>
          </div>
          <p class="category">Total Sites - Year to Date</p>
          <h3 class="title">
            <span>{{ YearlySites }}</span>
          </h3>
        </template>
      </stats-card>
    </div>
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-33"
    >
      <md-card v-if="this.$route.params.SelectedSession === undefined">
        <md-card-header class="md-card-header-icon md-card-header-blue">
          <h4 class="title">Session Filter Criteria</h4>
        </md-card-header>
        <md-card-content>
          <center>
            <span class="currentDateLabel"
              >Current Timeframe:
              {{ $store.state.sessions.CurrentTimeFrame }}</span
            >
            <md-field>
              <md-select v-model="DateSelected">
                <p @click="clearData">
                  <md-option value="today">Today</md-option>
                  <md-option value="weekly">Week to Date</md-option>
                  <md-option value="monthly">Month to Date</md-option>
                  <md-option value="yearly">Year to Date</md-option>
                  <md-option value="custom">Custom Date Range</md-option>
                </p>
              </md-select>
            </md-field>
            <div v-if="DateSelected === 'custom'">
              Start Date:
              <flat-pickr
                id="startOn"
                v-model="startOn"
                :config="config"
                class="form-control"
                mobil
                name="startOn"
                placeholder="Select date"
              >
              </flat-pickr
              ><br />
              End Date:
              <flat-pickr
                id="endOn"
                v-model="endOn"
                :config="config"
                class="form-control"
                name="endOn"
                placeholder="Select date"
              >
              </flat-pickr>
            </div>
          </center>
        </md-card-content>
        <md-button
          style="margin-bottom: 10px"
          @click="changeTimeframe"
          class="md-success button-padding"
          >Change Timeframe</md-button
        >
      </md-card>
    </div>
    <div
      v-if="NaggedStatus !== ''"
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-66"
    >
      <md-card>
        <md-card-header class="md-card-header-icon md-card-header-blue">
          <h4 class="title">Attention! Account is Past Due</h4>
        </md-card-header>
        <md-card-content>
          <center>
            <center>
              Hello {{ $store.state.userProfile.first_name }}
              {{ $store.state.userProfile.last_name }}, <br />Your Site 20/20
              account is currently past due and because of this your equipment
              is
              <b
                ><u>{{ NaggedStatus }}</u></b
              >
              as of
              {{
                moment(CurrentlyBeingNagged.start_on)
                  .tz($store.state.userProfile.timezone)
                  .format("M/D/yyyy")
              }}. <br />Please contact Accounts Receivable at 1 (800) 470-3077
              to arrange payment and prevent your equipment from being disabled.
            </center>
          </center>
        </md-card-content>
      </md-card>
    </div>
    <div
      class="
        md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100
        resultsPadding
      "
    >
      <md-card>
        <md-card-content>
          <div
            style="float: right"
            class="
              md-layout-item
              md-medium-size-100
              md-xsmall-hide
              md-small-hide
              md-size-66
            "
          >
            <div id="map"></div>
          </div>
          <div
            style="float: left; margin-top: -27px"
            class="
              md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-33
              bigshit
            "
          >
            <div
              v-if="this.$route.params.SelectedSession === undefined"
              id="infoPanel"
              class="infoPanel"
            >
              <router-link
                v-for="session in this.$store.state.sessions.Sessions"
                v-bind:key="session.session_id"
                :to="'/dashboard/' + session.session_id"
              >
                <md-card>
                  <md-card-header
                    v-if="session.formatted_address != null"
                    style="background: #343a3f; color: white"
                  >
                    <span style="float: left">{{
                      session.formatted_address
                    }}</span>

                    <md-icon
                      v-if="checkIfActive(session) !== 'Power'"
                      style="float: right; color: green"
                      >power_settings_new
                    </md-icon>
                    <md-icon v-else style="float: right; color: red"
                      >power_settings_new
                    </md-icon>
                  </md-card-header>
                  <md-card-header
                    v-else
                    style="background: #343a3f; color: white"
                    >Unknown GPS Location

                    <md-icon style="float: right; color: red"
                      >power_settings_new
                    </md-icon>
                  </md-card-header>

                  <md-card-content>
                    <div
                      v-if="$store.state.userProfile.user_type !== 'PARTNER'"
                      class="
                        md-layout-item
                        md-medium-size-100
                        md-xsmall-size-100
                        md-size-100
                      "
                    >
                      <center>
                        <b>Customer Name:</b> {{ session.customer_name }}
                      </center>
                    </div>
                    <div
                      style="float: left"
                      class="
                        md-layout-item
                        md-medium-size-50
                        md-xsmall-size-100
                        md-size-50
                      "
                    >
                      <span
                        ><b>Start Time:</b> <br />{{
                          moment(session.start)
                            .tz($store.state.userProfile.timezone)
                            .format("M/D/yyyy h:mm a")
                        }} </span
                      ><br />
                      <span
                        ><b>Base Station:</b><br />
                        {{ session.serial }}</span
                      ><br />
                    </div>
                    <div
                      style="float: right"
                      class="
                        md-layout-item
                        md-medium-size-50
                        md-xsmall-size-100
                        md-size-50
                      "
                    >
                      <span v-if="checkIfActive(session) !== 'Power'"
                        ><b>End Time:</b> <br />Currently Active</span
                      >
                      <span v-else
                        ><b>End Time:</b> <br />{{
                          moment(session.end)
                            .tz($store.state.userProfile.timezone)
                            .format("M/D/yyyy h:mm a")
                        }}</span
                      ><br />

                      <span v-if="session.afads !== ''"
                        ><b>GSF Serials:</b><br />
                        {{ session.afads.split(",")[0] }}
                        {{ session.afads.split(",")[1] }}
                        {{ session.afads.split(",")[2] }}
                        {{ session.afads.split(",")[3] }}
                      </span>
                      <span v-else>
                        <b>GSF Serials:</b><br />
                        Unknown Serials
                      </span>
                      <br />
                    </div>
                  </md-card-content>
                </md-card>
              </router-link>
            </div>
            <div v-else id="sessionInfo" class="sessionInfo">
              <div
                style="margin-top: 24px; margin-left: -15px"
                class="md-layout"
              >
                <div class="md-layout-item md-medium-size-100 md-size-33">
                  <md-button href="#/dashboard" class="md-info md-block"
                    ><md-icon>keyboard_backspace</md-icon>All Sites</md-button
                  >
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-33">
                  <md-button
                    @click="trafficModal = true"
                    class="md-warning md-block"
                    ><md-icon>traffic</md-icon>Traffic Info</md-button
                  >
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-33">
                  <md-button @click="SiteAlerts" class="md-danger md-block"
                    ><md-icon>error_outline</md-icon>Site Alerts</md-button
                  >
                </div>
                <div
                  v-if="hiddenSiteAlerts === true"
                  style="background: lightgrey"
                  class="md-layout-item md-medium-size-100 md-size-100"
                >
                  Tablet Battery Warning:
                  <span
                    v-for="(arr, index) in this.sessionDetails
                      .tabletBatteryAlerts"
                    v-bind:key="index"
                  >
                    {{ arr.count }} Time(s)
                  </span>
                  <br />
                  GSF Battery Warning:<br />
                  <span
                    v-for="(arr, index) in this.sessionDetails.afdBatteryAlerts"
                    v-bind:key="index"
                  >
                    {{ arr.serial }}<br />
                  </span>

                  USB Loose or Removed:<br />
                  <span
                    v-for="(arr, index) in this.sessionDetails.afdUSBAlerts"
                    v-bind:key="index"
                  >
                    {{ arr.serial }}<br />
                  </span>
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-100">
                  <hr />
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-100">
                  <h3>{{ sessionDetails.customer_name }}</h3>
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-50">
                  <h4>Connected Equipment:</h4>
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-50">
                  <h4>
                    {{ sessionDetails.serial }} {{ sessionDetails.afads }}
                  </h4>
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-50">
                  <h4>Job Information:</h4>
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-50">
                  <h5>
                    <span v-if="checkIfActive(this.sessionDetails) !== 'Power'">
                      Start Time -
                      {{
                        moment(this.sessionDetails.start)
                          .tz($store.state.userProfile.timezone)
                          .format("M/D/yyyy h:mm a")
                      }}
                      <br />
                      End Time - Currently Active
                    </span>
                    <span v-else
                      >Start Time -
                      {{
                        moment(this.sessionDetails.start)
                          .tz($store.state.userProfile.timezone)
                          .format("M/D/yyyy h:mm a")
                      }}
                      <br />End Time -
                      {{
                        moment(this.sessionDetails.end)
                          .tz($store.state.userProfile.timezone)
                          .format("M/D/yyyy h:mm a")
                      }}
                    </span>
                  </h5>
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-50">
                  <h4>Job Length:</h4>
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-50">
                  <h4>
                    {{ parseFloat(this.sessionDetails.realLength).toFixed(2) }}
                    Hour(s)
                  </h4>
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-50">
                  <h4>Worksite Address:</h4>
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-50">
                  <h4>
                    <span v-if="this.sessionDetails.formatted_address != null">
                      {{ this.sessionDetails.formatted_address }}
                    </span>

                    <span v-else class="col-sm-7">No GPS Data</span>
                  </h4>
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-50">
                  <h4>Battery Monitor:</h4>
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-50">
                  <h4>
                    <span
                      v-for="arr in this.sessionDetails.battery"
                      v-bind:key="arr"
                    >
                      {{ arr.serial }} - {{ arr.message }}%
                      <md-progress-bar
                        :md-value="arr.message"
                        :class="getColorType(arr.message)"
                        animated
                        show-progress
                      />
                    </span>
                    <span
                      v-for="arr in this.sessionDetails.tabletBattery"
                      v-bind:key="arr"
                    >
                      Tablet - {{ arr.message }}%
                      <md-progress-bar
                        :md-value="arr.message"
                        :class="getColorType(arr.message)"
                        animated
                        show-progress
                      />
                    </span>
                  </h4>
                </div>
                <div
                  v-for="imageinfo in this.sessionDetails.image_info"
                  v-bind:key="imageinfo"
                  class="md-layout-item md-medium-size-100 md-size-50"
                >
                  <div v-if="imageinfo.FRONT != null">
                    <span>{{ imageinfo.FRONT.unit_serial + " FRONT" }}</span>
                    <img
                      :src="
                        'https://cdn.site2020.com/' + imageinfo.FRONT.filename
                      "
                      alt="Session Image"
                      class="img-fluid"
                    />
                    Last Updated:
                    <timeago
                      :datetime="imageinfo.FRONT.log_time"
                      :auto-update="60"
                    />
                  </div>
                </div>
                <div
                  v-for="imageinfo in this.sessionDetails.image_info"
                  v-bind:key="imageinfo"
                  class="md-layout-item md-medium-size-100 md-size-50"
                >
                  <div v-if="imageinfo.REAR != null">
                    <span>{{ imageinfo.REAR.unit_serial + " REAR" }}</span>
                    <img
                      :src="
                        'https://cdn.site2020.com/' + imageinfo.REAR.filename
                      "
                      alt="Session Image"
                      class="img-fluid"
                    />
                    Last Updated:
                    <timeago
                      :datetime="imageinfo.REAR.log_time"
                      :auto-update="60"
                    />
                  </div>
                </div>
                <div class="md-layout-item md-medium-size-100 md-size-100">
                  <md-button
                    @click="manageModal = true"
                    class="md-block md-info"
                    ><md-icon>photo_camera</md-icon>Open Cameras in Pop-Up
                    Window</md-button
                  >
                  <md-button
                    v-if="$store.state.userProfile.user_type === 'PARTNERADMIN'"
                    class="md-block md-info"
                  >
                    <md-icon>videocam</md-icon>
                    Open Live Stream in Pop-Up Window
                  </md-button>
                </div>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <modal v-if="manageModal" @close="manageModalHide">
      <template slot="header">
        <h4 class="modal-title">Camera Feeds</h4>
        <md-button
          class="md-simple md-just-icon md-round modal-default-button"
          @click="manageModalHide"
        >
          <md-icon>clear</md-icon>
        </md-button>
      </template>

      <template slot="body">
        <div class="md-layout md-small-size-100 md-size-100">
          <div class="md-layout-item md-small-size-100 md-size-50">
            <div
              v-for="imageinfo in this.sessionDetails.image_info"
              v-bind:key="imageinfo.FRONT.id"
            >
              <div
                v-if="imageinfo.FRONT != null"
                v-on:click="imageClickHandler(imageinfo.FRONT.filename)"
              >
                <dt>{{ imageinfo.FRONT.unit_serial + " FRONT" }}</dt>
                <img
                  :src="'https://cdn.site2020.com/' + imageinfo.FRONT.filename"
                  alt="Session Image"
                  class="img-fluid"
                />
                <dd>
                  <br />
                </dd>
              </div>
            </div>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <div
              v-for="imageinfo in this.sessionDetails.image_info"
              v-bind:key="imageinfo.REAR.id"
            >
              <div
                v-if="imageinfo.REAR != null"
                v-on:click="imageClickHandler(imageinfo.REAR.filename)"
              >
                <dt>{{ imageinfo.REAR.unit_serial + " REAR" }}</dt>
                <img
                  :src="'https://cdn.site2020.com/' + imageinfo.REAR.filename"
                  alt="Session Image"
                  class="img-fluid"
                />
                <dd>
                  <br />
                </dd>
              </div>
            </div>
          </div>
        </div>
      </template>
    </modal>

    <modal v-if="trafficModal" @close="trafficModalHide">
      <template slot="header">
        <h4 class="modal-title">Traffic Analysis</h4>
        <md-button
          class="md-simple md-just-icon md-round modal-default-button"
          @click="trafficModalHide"
        >
          <md-icon>clear</md-icon>
        </md-button>
      </template>

      <template slot="body">
        <div class="md-layout md-small-size-100 md-size-100">
          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4>Traffic Pressure Metric</h4>
            <br />
            <span
              v-for="(arr, index) in this.sessionDetails.carStatistics"
              v-bind:key="index"
            >
              <div v-if="arr.AverageQueueTimeLastHour <= '25'">{{ index }}</div>
              <div v-else-if="arr.AverageQueueTimeLastHour <= '35'">
                {{ index }}
              </div>
              <div v-else>{{ index }}</div>
            </span>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4>Total Cars Entering Workzone:</h4>
            <br />
            <span
              v-for="(arr, index) in this.sessionDetails.carStatistics"
              v-bind:key="index"
            >
              {{ index }} -
              {{
                parseInt(
                  (parseInt(arr.SessionTotalIn) +
                    parseInt(arr.SessionTotalOut)) /
                    parseFloat(sessionDetails.realLength)
                )
              }}
            </span>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4>Average Cars Per Hour</h4>
            <br />
            <span
              v-for="(arr, index) in this.sessionDetails.carStatistics"
              v-bind:key="index"
            >
              {{ index }} - {{ arr.SessionTotalIn }}
            </span>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4>Average Wait Time</h4>
            <br />
            <span
              v-for="(arr, index) in this.sessionDetails.carStatistics"
              v-bind:key="index"
            >
              {{ index }} - {{ arr.AverageQueueTimeLastHour }} Seconds -
              (Longest Wait {{ arr.MaxQueueTimeLastHour }}) <br />
            </span>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-100">
            <h4><u>Gate Activity Report</u></h4>
            <GateStatusContent
              :afads="this.sessionDetails.afads"
              :end="this.sessionDetails.end"
              :start="this.sessionDetails.start"
            />
          </div>
        </div>
      </template>
    </modal>
  </div>
</template>

<script>
import { userprofileMethods } from "@/state/helpers";
import { notificationMethods } from "@/state/helpers";
import { employeeListMethods } from "@/state/helpers";
import { customerListMethods } from "@/state/helpers";
import { authFackMethods } from "@/state/helpers";
import { StatsCard } from "@/components";
import { Modal } from "@/components";
import { GateStatusContent } from "@/pages/";

export default {
  components: {
    StatsCard,
    Modal,
    GateStatusContent,
  },
  mounted() {
    this.$store.watch(
      () => {
        return this.$store.state.sessions.Sessions;
      },
      (newValue, oldValue) => {
        if (this.$route.params.SelectedSession === undefined) {
          if (oldValue.length > 0) {
            this.destroyMarkers();
          }
          this.initMarkers();
        }
      }
    );
    this.$store.watch(
      (state) => {
        return this.$store.state.sessions.ExclusionZones;
      },
      (newValue, oldValue) => {
        this.initZones();
      }
    );
    this.Timer = setInterval(this.updateCheck, 60000);
    this.checkIfClientIsNagged();
    this.LoggerInformation();
    this.loadData();
    this.DecideWhatToRun();
    if (
      this.$store.state.sessions.LastSessionsUpdate != null &&
      this.$route.params.SelectedSession === undefined
    ) {
      this.initMarkers();
    }

    if (this.$store.state.sessions.LastExclusionZonesUpdate != null) {
      this.initZones();
    }

    // handle clicking on session from home before initialization of map
    if (this.$route.params.SelectedSession !== undefined) {
      //Get Session Details
      this.getSessionDetailsByID(this.$route.params.SelectedSession);
    }
  },
  computed: {},
  watch: {
    "$route.params.SelectedSession": {
      handler(newvalue, oldvalue) {
        if (newvalue === undefined) {
          this.initMarkers();
          this.sessionDetails = [];
        } else {
          this.getSessionDetailsByID(newvalue);
        }
      },
      beforeDestroy() {
        clearInterval(this.Timer);
      },
    },
  },
  data() {
    return {
      Map: null,
      path: [],
      hiddenSiteAlerts: false,
      Markers: [],
      Timer: null,
      Zones: [],
      ZoneMarkers: [],
      trafficModal: false,
      manageModal: false,
      NaggedStatus: "",
      CurrentlyBeingNagged: "",
      startOn: "",
      ActiveSitesToday: 0,
      endOn: "",
      DateSelected: "today",
      TodaysSites: 0,
      MonthlySites: 0,
      sessionDetails: [],
      YearlySites: 0,
      TodaysJobs: 0,
      CompletedJobs: 0,
      JobsMTD: 0,
      ApprovalJobs: 0,
      TomorrowsJobs: 0,
      configTime: {
        enableTime: true,
        enableSeconds: false,
        noCalendar: true,
      },
      config: {
        altFormat: "Y-m-d",
        altInput: true,
        disableMobile: true,
        time_24hr: true,
      },
    };
  },
  methods: {
    ...userprofileMethods,
    ...customerListMethods,
    ...notificationMethods,
    ...employeeListMethods,
    ...authFackMethods,
    SiteAlerts() {
      if (this.hiddenSiteAlerts === true) {
        this.hiddenSiteAlerts = false;
      } else {
        this.hiddenSiteAlerts = true;
      }
    },
    getColorType(BatteryLevel) {
      if (BatteryLevel >= 65) {
        return "md-success";
      } else if (BatteryLevel >= 25) {
        return "md-warning";
      } else if (BatteryLevel <= 24) {
        return "md-danger";
      }
      return "md-danger";
    },
    updateCheck() {
      this.$store.dispatch("sessions/getsessions");
      this.getSessionDetailsByID(this.$route.params.SelectedSession);
    },
    getSessionDetailsByID(session_id) {
      let that = this;
      if (
        session_id !== undefined &&
        session_id !== null &&
        session_id !== ""
      ) {
        const params = new FormData();
        params.append("action", "getSessionByID");
        params.append("session_id", session_id);
        api.post("/jsonhandler.php", params).then(function (response) {
          that.sessionDetails = response.data;
          that.displaySingleSession();
          if (that.sessionDetails.session_id == null) {
            that.$router.push({
              name: "home",
              params: { SelectedSession: null },
            });
          }
        });
      }
    },
    displaySingleSession() {
      this.destroyMarkers();
      if (
        this.sessionDetails &&
        this.sessionDetails.session_id !== undefined &&
        this.$store.state.sessions.Sessions.length > 0 &&
        this.$route.params.SelectedSession !== null
      ) {
        this.lastSelected = this.sessionDetails.session_id;
        if (
          this.sessionDetails.latlngMean !== null &&
          this.sessionDetails.latlngMean !== ""
        ) {
          this.Map.setZoom(18);
          var bst = this.sessionDetails.latlngMean.split(", ");
          var bst_position = new google.maps.LatLng(bst[0], bst[1]);
          this.Map.panTo(bst_position);
        }
        if (
          this.sessionDetails.afadLocations !== null &&
          this.sessionDetails.afadLocations !== ""
        ) {
          var bounds = new google.maps.LatLngBounds();
          var setBounds = false;
          for (let [serial, afad] of Object.entries(
            this.sessionDetails.afadLocations
          )) {
            if (afad.latlngMean !== null && afad.latlngMean !== "") {
              var nowUTC = new Date().getTime();
              var seshend = new Date(this.sessionDetails.end);
              var whichurl = "/afad.png";
              var sessionExpiresIfMoreThanThisInMS = 45 * 60 * 1000;
              if (nowUTC - seshend <= sessionExpiresIfMoreThanThisInMS) {
                whichurl = "/afadtoday.png";
              }
              var gps = afad.latlngMean.split(", ");
              var position = new google.maps.LatLng(gps[0], gps[1]);
              this.Markers[serial] = new google.maps.Marker({
                position: position,
                map: this.Map,
                title:
                  "Serial: " +
                  serial +
                  "\nStart Date: " +
                  this.sessionDetails.start +
                  "\nEnd Date: " +
                  this.sessionDetails.end +
                  "\nAddress: " +
                  afad.formatted_address +
                  "\nLat " +
                  gps[0] +
                  ", lng " +
                  gps[1],
                zIndex: 9999,
                icon: {
                  url: whichurl,
                },
              });

              bounds.extend(position);
              setBounds = true;
            }

            if (setBounds) {
              this.Map.fitBounds(bounds);
            }
          }
        }
      }
    },
    getAddressForSession(session) {
      if (session.formatted_address != null) {
        return session.formatted_address;
      } else if (session.formatted_address == null) {
        return "No GPS Signal";
      }
    },
    destroyMarkers() {
      let that = this;
      for (let key in this.Markers) {
        that.Markers[key].setMap(null);
        if (that.MarkerClusterer != null) {
          that.MarkerClusterer.removeMarker(that.Markers[key]);
        }
      }
      this.Markers = [];
    },
    initMarkers() {
      this.destroyMarkers();
      var bounds = new google.maps.LatLngBounds();
      var router = this.$router;
      var setBounds = false;
      for (var i = 0; i < this.$store.state.sessions.Sessions.length; i++) {
        if (this.$store.state.sessions.Sessions[i].latlngMean !== null) {
          var nowUTC = new Date().getTime();
          var seshend = new Date(this.$store.state.sessions.Sessions[i].end);
          var whichurl = "/afad.png";
          var sessionExpiresIfMoreThanThisInMS = 45 * 60 * 1000;
          if (nowUTC - seshend <= sessionExpiresIfMoreThanThisInMS) {
            whichurl = "/afadtoday.png";
          }

          var gps =
            this.$store.state.sessions.Sessions[i].latlngMean.split(", ");
          var position = new google.maps.LatLng(gps[0], gps[1]);
          this.path.push(gps);

          var session_id = this.$store.state.sessions.Sessions[i].session_id;
          this.Markers[session_id] = new google.maps.Marker({
            position: position,
            map: this.Map,
            title:
              "Start Date: " +
              this.$store.state.sessions.Sessions[i].start +
              "\nEnd Date: " +
              this.$store.state.sessions.Sessions[i].end +
              "\nAddress: " +
              this.$store.state.sessions.Sessions[i].formatted_address +
              "\nLat " +
              gps[0] +
              ", Lng " +
              gps[1],
            zIndex: 9999,
            icon: {
              url: whichurl,
            },
          });

          this.Markers[session_id].session_id = session_id;
          google.maps.event.addListener(
            this.Markers[session_id],
            "click",
            function () {
              router.push({
                name: "SelectedSession",
                params: { SelectedSession: this.session_id },
              });
            }
          );

          bounds.extend(position);
          setBounds = true;
        }
      }

      if (setBounds) {
        this.Map.fitBounds(bounds);
      }

      this.MarkerClusterer = new MarkerClusterer(this.Map, this.Markers, {
        imagePath:
          "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m",
      });
    },
    initZones() {
      for (
        var i = 0;
        i < this.$store.state.sessions.ExclusionZones.length;
        i++
      ) {
        this.ZoneMarkers[i] = new google.maps.Marker({
          position: new google.maps.LatLng(
            this.$store.state.sessions.ExclusionZones[i].lat,
            this.$store.state.sessions.ExclusionZones[i].lng
          ),
          map: this.Map,
          title:
            "Assigned Exclusion Zone\nLat: " +
            this.$store.state.sessions.ExclusionZones[i].lat +
            "\nLng: " +
            this.$store.state.sessions.ExclusionZones[i].lng +
            "\nRadius: " +
            this.$store.state.sessions.ExclusionZones[i].radius +
            " meters",
          zIndex: 10000,
          icon: {
            url: "/home.png",
          },
        });
        var circle = new google.maps.Circle({
          map: this.Map,
          radius: Number(this.$store.state.sessions.ExclusionZones[i].radius),
          fillColor: "#AA0000",
        });
        circle.bindTo("center", this.ZoneMarkers[i], "position");
      }
    },
    initMap() {
      var center = {
        lat: this.$store.state.userProfile.Lat,
        lng: this.$store.state.userProfile.Lng,
      };
      //var center = {lat: 43, lng: -73};
      var elem = document.getElementById("map");
      var map = new google.maps.Map(elem, {
        zoom: 11,
        maxZoom: 20,
        scrollwheel: false,
        disableDefaultUI: false,
        zoomControl: true,
        center: center,
        styles: [
          {
            featureType: "water",
            stylers: [
              { saturation: 43 },
              { lightness: -11 },
              { hue: "#0088ff" },
            ],
          },
          {
            featureType: "road",
            elementType: "geometry.fill",
            stylers: [
              { hue: "#ff0000" },
              { saturation: -100 },
              { lightness: 99 },
            ],
          },
          {
            featureType: "road",
            elementType: "geometry.stroke",
            stylers: [{ color: "#808080" }, { lightness: 54 }],
          },
          {
            featureType: "landscape.man_made",
            elementType: "geometry.fill",
            stylers: [{ color: "#ece2d9" }],
          },
          {
            featureType: "poi.park",
            elementType: "geometry.fill",
            stylers: [{ color: "#ccdca1" }],
          },
          {
            featureType: "road",
            elementType: "labels.text.fill",
            stylers: [{ color: "#767676" }],
          },
          {
            featureType: "road",
            elementType: "labels.text.stroke",
            stylers: [{ color: "#ffffff" }],
          },
          { featureType: "poi", stylers: [{ visibility: "off" }] },
          {
            featureType: "landscape.natural",
            elementType: "geometry.fill",
            stylers: [{ visibility: "on" }, { color: "#b8cb93" }],
          },
          { featureType: "poi.park", stylers: [{ visibility: "off" }] },
          {
            featureType: "poi.sports_complex",
            stylers: [{ visibility: "on" }],
          },
          { featureType: "poi.medical", stylers: [{ visibility: "off" }] },
          {
            featureType: "poi.business",
            stylers: [{ visibility: "off" }],
          },
        ],
      });
      this.Map = map;
    },
    manageModalHide: function () {
      this.manageModal = false;
    },
    trafficModalHide: function () {
      this.trafficModal = false;
    },
    checkIfClientIsNagged() {
      let that = this;
      const params = new FormData();
      fleetapi.post("getnaggedstatus", params).then(function (response) {
        that.CurrentlyBeingNagged = response.data[0];
        if (that.CurrentlyBeingNagged != null) {
          if (that.CurrentlyBeingNagged.level === "Deactivation") {
            that.NaggedStatus = "currently disabled";
          } else {
            that.NaggedStatus = "currently past due";
          }
        } else {
          return null;
        }
      });
    },
    clearData() {
      this.endOn = "";
      this.startOn = "";
    },
    notifyVue(message, type) {
      this.$notify({
        message: message,
        icon: "add_alert",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: type,
      });
    },
    changeTimeframe() {
      var data = [];
      data["startOn"] = this.startOn;
      data["endOn"] = this.endOn;
      this.notifyVue(
        "Timeframe has been changed to " + this.DateSelected + ".",
        "success"
      );
      this.$store.dispatch(
        "sessions/ChangeSessionTimeFrame",
        this.DateSelected
      );
      this.$store.dispatch("sessions/getsessions", data);
    },
    checkIfActive(session) {
      if (session.end === undefined) {
        return "Power";
      }
      var sessionEnd = new Date(session.end.replace(/-/g, "/")).getTime();
      var nowUTC = new Date().getTime();
      var isItActive = sessionEnd - nowUTC;
      var itIsActive = "false";
      var sessionExpiresIfMoreThanThisInMS = 45 * 60 * 1000;
      if (isItActive >= sessionExpiresIfMoreThanThisInMS) {
        itIsActive === "true";
        return "power";
      }
      return "Power";
    },
    LoggerInformation() {
      this.ActiveSitesToday = this.$store.state.sessions.Sessions.length;
    },
    DecideWhatToRun() {
      if (localStorage.getItem("S2020_USERTYPE") === "PARTNER") {
        this.GetThisMonthsNumbers();
        this.GetThisYearsNumbers();
      } else if (localStorage.getItem("S2020_USERTYPE") === "PARTNERSALES") {
        this.GetThisMonthsNumbersSales();
        this.GetThisYearsNumbersSales();
      } else if (
        localStorage.getItem("S2020_USERTYPE") === "PARTNERDEPLOYMENT"
      ) {
        this.GetThisMonthsNumbersDeployment();
        this.GetThisYearsNumbersDeployment();
      } else if (localStorage.getItem("S2020_USERTYPE") === "PARTNERPARENT") {
        this.GetThisMonthsNumbersParent();
        this.GetThisYearsNumbersParent();
      } else if (localStorage.getItem("S2020_USERTYPE") === "PARTNERADMIN") {
        this.GetThisMonthsNumbersAdmin();
        this.GetThisYearsNumbersAdmin();
      }
    },
    GetTodaysNumbers() {
      let that = this;
      const params = new FormData();
      fleetapi.post("/gettodaysnumbers", params).then(function (response) {
        that.TodaysSites = response.data[0].total;
      });
    },
    GetThisMonthsNumbers() {
      let that = this;
      const params = new FormData();
      fleetapi.post("/getthismonthsnumbers", params).then(function (response) {
        that.MonthlySites = response.data[0].total;
      });
    },
    GetThisYearsNumbers() {
      let that = this;
      const params = new FormData();
      fleetapi.post("/getthisyearsnumbers", params).then(function (response) {
        that.YearlySites = response.data[0].total;
      });
    },
    GetTodaysNumbersDeployment() {
      let that = this;
      const params = new FormData();
      fleetapi
        .post("/gettodaysnumbersdeployment", params)
        .then(function (response) {
          that.TodaysSites = response.data[0].total;
        });
    },
    GetThisMonthsNumbersDeployment() {
      let that = this;
      const params = new FormData();
      fleetapi
        .post("/getthismonthsnumbersdeployment", params)
        .then(function (response) {
          that.MonthlySites = response.data[0].total;
        });
    },
    GetThisYearsNumbersDeployment() {
      let that = this;
      const params = new FormData();
      fleetapi
        .post("/getthisyearsnumbersdeployment", params)
        .then(function (response) {
          that.YearlySites = response.data[0].total;
        });
    },
    GetTodaysNumbersParent() {
      let that = this;
      const params = new FormData();
      fleetapi
        .post("/gettodaysnumbersparent", params)
        .then(function (response) {
          that.TodaysSites = response.data[0].total;
        });
    },
    GetThisMonthsNumbersParent() {
      let that = this;
      const params = new FormData();
      fleetapi
        .post("/getthismonthsnumbersparent", params)
        .then(function (response) {
          that.MonthlySites = response.data[0].total;
        });
    },
    GetThisYearsNumbersParent() {
      let that = this;
      const params = new FormData();
      fleetapi
        .post("/getthisyearsnumbersparent", params)
        .then(function (response) {
          that.YearlySites = response.data[0].total;
        });
    },
    GetTodaysNumbersSales() {
      let that = this;
      const params = new FormData();
      fleetapi.post("/gettodaysnumberssales", params).then(function (response) {
        that.TodaysSites = response.data[0].total;
      });
    },
    GetThisMonthsNumbersSales() {
      let that = this;
      const params = new FormData();
      fleetapi
        .post("/getthismonthsnumberssales", params)
        .then(function (response) {
          that.MonthlySites = response.data[0].total;
        });
    },
    GetThisYearsNumbersSales() {
      let that = this;
      const params = new FormData();
      fleetapi
        .post("/getthisyearsnumberssales", params)
        .then(function (response) {
          that.YearlySites = response.data[0].total;
        });
    },
    GetTodaysNumbersAdmin() {
      let that = this;
      const params = new FormData();
      fleetapi.post("/gettodaysnumbersadmin", params).then(function (response) {
        that.TodaysSites = response.data[0].total;
      });
    },
    GetThisMonthsNumbersAdmin() {
      let that = this;
      const params = new FormData();
      fleetapi
        .post("/getthismonthsnumbersadmin", params)
        .then(function (response) {
          that.MonthlySites = response.data[0].total;
        });
    },
    GetThisYearsNumbersAdmin() {
      let that = this;
      const params = new FormData();
      fleetapi
        .post("/getthisyearsnumbersadmin", params)
        .then(function (response) {
          that.YearlySites = response.data[0].total;
        });
    },
    loadData() {
      this.setprofile();
      this.setnotifications();
      this.initMap();
      this.initZones();
      this.initMarkers();
    },
    tableRowStyle({ row, rowIndex }) {
      return "text-align: center";
    },
  },
  updated() {
    this.LoggerInformation();
  },
};
</script>
<style scoped>
.infoPanel {
  margin-top: 12px;
  height: calc(80vh);
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sessionInfo {
  margin-top: 12px;
  height: calc(80vh);
  overflow-x: hidden;
  overflow-y: auto;
}

.infoPanel::-webkit-scrollbar {
  display: none;
}
.currentDateLabel {
  text-transform: capitalize;
}
.resultsPadding {
  margin-top: -20px;
}
#map {
  height: calc(80vh);
}
</style>
