<template>
  <ValidationObserver v-slot="{ handleSubmit }">
    <form @submit.prevent="handleSubmit(verifyProfileChanges)">
      <md-card>
        <md-card-header
          class="md-card-header-icon"
          :class="getClass(headerColor)"
        >
          <div class="card-icon">
            <md-icon>person_remove</md-icon>
          </div>
          <h4 class="title">Manage Registered Users</h4>
        </md-card-header>

        <md-card-content>
          <div class="md-layout md-small-size-100 md-size-100">
            <div class="md-layout-item md-small-size-100 md-size-100">
              <el-table
                :header-cell-style="tableRowStyle"
                :cell-style="tableRowStyle"
                :data="$store.state.employeeList.allEmployees"
              >
                <el-table-column label="First Name" prop="first_name">
                </el-table-column>
                <el-table-column label="Last Name" prop="last_name">
                </el-table-column>
                <el-table-column label="Email Address" prop="email">
                </el-table-column>
                <el-table-column label="Phone Number" prop="phone_number">
                </el-table-column>
                <el-table-column label="User Type" prop="user_type">
                </el-table-column>
                <el-table-column label="Actions" prop="actions">
                  <template slot-scope="scope">
                    <md-button
                      @click="storeUserInformation(scope.row)"
                      v-on:click="manageModal = true"
                      class="md-success md-just-icon"
                    >
                      <md-icon>edit</md-icon>
                      <md-tooltip md-direction="top">Manage User</md-tooltip>
                    </md-button>
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </div>
        </md-card-content>
      </md-card>
      <!-- Assign Rate Card Modal -->
      <modal v-if="manageModal" @close="manageModalHide">
        <template slot="header">
          <h4 class="modal-title">Manage {{ first_name }} {{ last_name }}</h4>
          <md-button
            class="md-simple md-just-icon md-round modal-default-button"
            @click="manageModalHide"
          >
            <md-icon>clear</md-icon>
          </md-button>
        </template>

        <template slot="body">
          <div class="md-layout">
            <div class="md-layout-item md-small-size-100 md-size-33">
              <ValidationProvider
                name="first_name"
                rules="required|min:1|max:255"
                v-slot="{ passed, failed }"
              >
                <md-field
                  :class="[{ 'md-error': failed }, { 'md-valid': passed }]"
                >
                  <label>First Name</label>
                  <md-input v-model="first_name" />
                  <slide-y-down-transition>
                    <span class="error-status" v-show="failed"
                      >First Name is required and must be between 1-255
                      characters</span
                    >
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="passed">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </ValidationProvider>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-33">
              <ValidationProvider
                name="last_name"
                rules="required|min:1|max:255"
                v-slot="{ passed, failed }"
              >
                <md-field
                  :class="[{ 'md-error': failed }, { 'md-valid': passed }]"
                >
                  <label>Last Name</label>
                  <md-input v-model="last_name" />
                  <slide-y-down-transition>
                    <span class="error-status" v-show="failed"
                      >Last Name is required and must be between 1-255
                      characters</span
                    >
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="passed">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </ValidationProvider>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-33">
              <ValidationProvider
                name="email"
                rules="required|min:1|max:255"
                v-slot="{ passed, failed }"
              >
                <md-field
                  :class="[{ 'md-error': failed }, { 'md-valid': passed }]"
                >
                  <label>Email Address</label>
                  <md-input disabled v-model="email" />
                  <md-tooltip
                    >This cannot be changed. Please contact Site 20/20 for
                    further assistance.</md-tooltip
                  >
                  <slide-y-down-transition>
                    <span class="error-status" v-show="failed"
                      >An email address is required and must be between 1-255
                      characters</span
                    >
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="passed">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </ValidationProvider>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-33">
              <ValidationProvider
                name="user_type"
                rules="required"
                v-slot="{ passed, failed }"
              >
                <md-field
                  :class="[{ 'md-error': failed }, { 'md-valid': passed }]"
                >
                  <select
                    class="md-select md-input form-control"
                    v-model="user_type"
                  >
                    <option value="PARTNER">Partner</option>
                    <option
                      v-if="
                        $store.state.userProfile.user_type == 'PARTNERADMIN'
                      "
                      value="PARTNERADMIN"
                    >
                      Site 20/20
                    </option>
                  </select>
                  <slide-y-down-transition>
                    <span class="error-status" v-show="failed"
                      >User Type is required</span
                    >
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="passed">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </ValidationProvider>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-33">
              <ValidationProvider
                name="phone_number"
                rules="required|min:10|max:11"
                v-slot="{ passed, failed }"
              >
                <md-field
                  :class="[{ 'md-error': failed }, { 'md-valid': passed }]"
                >
                  <label>Phone Number</label>
                  <md-input v-model="phone_number" />
                  <slide-y-down-transition>
                    <span class="error-status" v-show="failed"
                      >Phone Number is required and must be between 10-11
                      digits</span
                    >
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="passed">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </ValidationProvider>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-50">
              <md-field>
                <label>New Password</label>
                <md-input v-model="modalPassword" />
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-50">
              <md-field>
                <label>Confirm New Password</label>
                <md-input v-model="modalNewPassword" />
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-100">
              <br />
              <md-checkbox v-model="ConfirmDisable" />
              <md-button
                @click="onClick"
                :disabled="VerifyDisableButton"
                class="md-danger button-padding"
                >Disable {{ first_name }}</md-button
              >
              <md-button type="submit" class="md-success button-padding"
                >Update {{ first_name }}</md-button
              >
            </div>
          </div>
        </template>
      </modal>
      <!-- End Assign RateCard Modal -->
    </form>
  </ValidationObserver>
</template>
<script>
import { Modal } from "@/components";
import { employeeListMethods } from "@/state/helpers";

export default {
  components: { Modal },
  name: "manage-user-content",
  props: {
    headerColor: {
      type: String,
      default: "blue",
    },
  },
  mounted() {},
  data() {
    return {
      first_name: "",
      last_name: "",
      email: "",
      phone_number: "",
      user_type: "",
      manageModal: false,
      modalPassword: "",
      modalNewPassword: "",
      selectedEmployee: "",
      ConfirmDisable: false,
    };
  },
  computed: {
    VerifyDisableButton() {
      let that = this;
      if (that.ConfirmDisable === true) {
        return false;
      } else {
        return true;
      }
    },
  },
  methods: {
    ...employeeListMethods,
    verifyProfileChanges() {
      this.checkForNewPassword();
      this.updateEmployeeProfile();
    },
    updateEmployeeProfile() {
      let that = this;
      const params = new FormData();
      params.append("email", that.email);
      params.append("first_name", that.first_name);
      params.append("last_name", that.last_name);
      params.append("user_type", that.user_type);
      params.append("phone_number", that.phone_number);
      params.append("action", "UpdateTombstoneInformation");
      onyxapi
        .post("/updatetombstoneinformation", params)
        .then(function (response) {
          if (response.status === 200) {
            that.manageModal = false;
            that.notifyVue(
              "The user " +
                that.first_name +
                that.last_name +
                " has been successfully updated.",
              "success"
            );
            that.allemployees();
            that.addAuditLog({
              getINPUT:
                "Successfully updated: " +
                that.first_name +
                that.first_name +
                that.email,
              getSTATS: "success",
              getPAGE:
                "Route Name: " +
                that.$route.name +
                " Path: " +
                that.$route.path +
                ".",
            });
          }
        })
        .catch(function (response) {
          that.notifyVue(
            "The user " +
              that.first_name +
              that.last_name +
              " was not updated. Please try again or contact Site 20/20 for further assistance.",
            "danger"
          );
          that.addAuditLog({
            getINPUT:
              "Unable to update user: " +
              that.first_name +
              that.last_name +
              " Response: " +
              response,
            getSTATS: "failed",
            getPAGE:
              "Route Name: " +
              that.$route.name +
              " Path: " +
              that.$route.path +
              ".",
          });
        });
    },
    checkForNewPassword() {
      if (this.modalNewPassword != "" && this.modalPassword != "") {
        this.UpdateUserPassword();
      } else {
        this.notifyVue(
          "There was no new password supplied and has not been updated.",
          "warning"
        );
      }
    },
    notifyVue(message, type) {
      this.$notify({
        message: message,
        icon: "add_alert",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: type,
      });
    },
    onClick() {
      let that = this;
      const params = new FormData();
      params.append("email", that.email);
      params.append("action", "deleteRegisteredUser");
      onyxapi
        .post("/deleteregistereduser", params)
        .then(function (response) {
          if (response.status === 200) {
            that.manageModal = false;
            that.notifyVue(
              "The user " +
                that.email +
                " has been successfully deleted and can no longer be assigned to new jobs or login.",
              "success"
            );
            that.allemployees();
            that.addAuditLog({
              getINPUT: "Successfully removed: " + that.email,
              getSTATS: "success",
              getPAGE:
                "Route Name: " +
                that.$route.name +
                " Path: " +
                that.$route.path +
                ".",
            });
          }
        })
        .catch(function (response) {
          that.notifyVue(
            "The user " +
              that.email +
              " was not deleted. Please try again or contact Site 20/20 for further assistance.",
            "danger"
          );
          that.addAuditLog({
            getINPUT:
              "Unable to remove user: " + that.email + " Response: " + response,
            getSTATS: "failed",
            getPAGE:
              "Route Name: " +
              that.$route.name +
              " Path: " +
              that.$route.path +
              ".",
          });
        });
    },
    UpdateUserPassword() {
      let that = this;
      if (
        that.modalPassword == this.modalNewPassword &&
        that.modalPassword != "" &&
        that.modalNewPassword != ""
      ) {
        const params = new FormData();
        params.append("selectedEmployee", that.selectedEmployee);
        params.append("newPass", that.modalPassword);
        params.append("action", "updateEmployeePassword");
        api
          .post("/jsonhandler.php", params)
          .then(function (response) {
            if (response.status === 200) {
              that.notifyVue(
                "The users password was updated successfully.",
                "success"
              );
              that.addAuditLog({
                getINPUT:
                  "Updated other users password: " + that.selectedEmployee,
                getSTATS: "success",
                getPAGE:
                  "Route Name: " +
                  that.$route.name +
                  " Path: " +
                  that.$route.path +
                  ".",
              });
            }
          })
          .catch(function (response) {
            that.notifyVue(
              "The users password was unable to be updated. Please try again or contact Site 20/20 for further assistance.",
              "danger"
            );
            that.addAuditLog({
              getINPUT:
                "Unable to update users password: " +
                that.selectedEmployee +
                " Response: " +
                response,
              getSTATS: "failed",
              getPAGE:
                "Route Name: " +
                that.$route.name +
                " Path: " +
                that.$route.path +
                ".",
            });
          });
      } else {
        that.notifyVue(
          "The passwords you entered do not match or a field was left empty. Please try again or contact Site 20/20 for further assistance.",
          "warning"
        );
      }
    },
    manageModalHide: function () {
      this.manageModal = false;
    },
    storeUserInformation(userInfo) {
      this.first_name = userInfo.first_name;
      this.last_name = userInfo.last_name;
      this.email = userInfo.email;
      this.phone_number = userInfo.phone_number;
      this.user_type = userInfo.user_type;
      this.selectedEmployee = userInfo.id;
    },
    tableRowStyle({ row, rowIndex }) {
      return "text-align: center; color: black;";
    },
    getClass: function (headerColor) {
      return "md-card-header-" + headerColor + "";
    },
  },
};
</script>
<style>
.text-center {
  text-align: center;
}
.button-padding {
  margin-left: 20px;
  margin-right: 20px;
}
</style>
