<template>
  <div class="user">
    <div class="photo">
      <img
        v-if="$store.state.userProfile.user_avatar === null"
        src="../../../../../public/img/default-avatar.png"
        alt="avatar"
      />
      <img v-else :src="$store.state.userProfile.user_avatar" alt="avatar" />
    </div>
    <div class="user-info">
      <a
        data-toggle="collapse"
        :aria-expanded="!isClosed"
        @click.stop="toggleMenu"
        @click.capture="clicked"
      >
        <span v-if="$store.state.userProfile.first_name != ''">
          {{ $store.state.userProfile.first_name }}
          {{ $store.state.userProfile.last_name }}
          <b class="caret"></b>
        </span>
        <span v-else>
          Unknown User<br />
          API Server Error
          <b class="caret"></b>
        </span>
      </a>

      <collapse-transition>
        <div v-show="!isClosed">
          <ul class="nav">
            <slot>
              <li>
                <a href="#/pages/user/">
                  <span class="sidebar-mini"><md-icon>person</md-icon></span>
                  <span class="sidebar-normal">My Profile</span>
                </a>
              </li>
              <li v-if="$store.state.userProfile.user_type === 'PARTNERADMIN'">
                <a href="#/pages/news-posts">
                  <span class="sidebar-mini"><md-icon>newspaper</md-icon></span>
                  <span class="sidebar-normal">News Posts</span>
                </a>
              </li>
            </slot>
          </ul>
        </div>
      </collapse-transition>
    </div>
  </div>
</template>
<script>
import { CollapseTransition } from "vue2-transitions";

export default {
  components: {
    CollapseTransition,
  },
  props: {
    title: {
      type: String,
      default: "Anthony Probert",
    },
    avatar: {
      type: String,
      default: "./img/faces/marc.jpg",
    },
  },
  data() {
    return {
      isClosed: true,
    };
  },
  methods: {
    clicked: function (e) {
      e.preventDefault();
    },
    toggleMenu: function () {
      this.isClosed = !this.isClosed;
    },
  },
};
</script>
<style>
.collapsed {
  transition: opacity 1s;
}
</style>
