<template>
  <form>
    <md-card>
      <md-card-header
        class="md-card-header-icon"
        :class="getClass(headerColor)"
      >
        <div class="card-icon">
          <md-icon>person_add</md-icon>
        </div>
        <h4 class="title">News Feed</h4>
      </md-card-header>

      <md-card-content>
        <div class="md-layout md-small-size-100 md-size-100">
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-card v-for="video in YouTubeVideos" :key="video">
              <md-card-header style="background-color: #343a3f; color: white"
                ><span>{{ video.snippet.title }}</span></md-card-header
              >
              <md-card-content>
                <img :src="video.snippet.thumbnails.high.url" />
                <br />
                {{ video.snippet.description }}<br />
                <md-button
                  v-bind:href="
                    'https://youtube.com/watch?v=' +
                    video.snippet.resourceId.videoId
                  "
                  class="md-danger md-block"
                  >View on Youtube</md-button
                >
              </md-card-content>
            </md-card>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-card v-for="post in WPPosts" :key="post">
              <md-card-header style="background-color: #343a3f; color: white"
                ><span>{{ post.title.rendered }}</span></md-card-header
              >
              <md-card-content>
                <img
                  :src="post._embedded['wp:featuredmedia']['0'].source_url"
                />
                <br />
                {{ post.excerpt.rendered }}<br />
                <md-button v-bind:href="post.link" class="md-success md-block"
                  >View on Site2020.com</md-button
                >
              </md-card-content>
            </md-card>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</template>
<script>
import axios from "axios";

export default {
  components: {},
  name: "news-content",
  props: {
    headerColor: {
      type: String,
      default: "blue",
    },
  },
  mounted() {
    this.GetWPPosts();
    this.GetYoutubeVideos();
  },
  data() {
    return {
      WPPosts: [],
      YouTubeVideos: [],
    };
  },

  methods: {
    GetWPPosts() {
      axios
        .get("https://site2020.com/wp-json/wp/v2/posts?per_page=4&_embed")
        .then((response) => (this.WPPosts = response.data));
    },
    GetYoutubeVideos() {
      axios
        .get(
          "https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&maxResults=5&playlistId=UU2CN5Lin86qrZfL3gm_alnQ&key=AIzaSyAQh2H4Fgi26vVocLvNYJ9CdNa1zxBeBrM"
        )
        .then((response) => (this.YouTubeVideos = response.data.items));
    },
    getClass: function (headerColor) {
      return "md-card-header-" + headerColor + "";
    },
  },
};
</script>
<style>
.text-center {
  text-align: center;
}
</style>
