<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-size-100">
        <news-content header-color="blue"> </news-content>
      </div>
    </div>
  </div>
</template>

<script>
import { NewsContent } from "@/pages/";
export default {
  components: {
    NewsContent,
  },
};
</script>
<style lang="scss">
.text-right {
  display: flex;
}
</style>
