<template>
  <footer class="footer">
    <div class="container">
      <div class="copyright text-center">
        &copy; {{ new Date().getFullYear() }} made with
        <i class="fa fa-heart heart"></i> by Site 20/20
      </div>
    </div>
  </footer>
</template>
<script>
export default {};
</script>
<style></style>
