<template>
  <div class="wrapper" :class="[{ 'nav-open': $sidebar.showSidebar }]">
    <notifications></notifications>
    <side-bar>
      <user-menu></user-menu>
      <mobile-menu></mobile-menu>
      <template slot="links">
        <sidebar-item
          :link="{ name: 'Dashboard', icon: 'dashboard', path: '/dashboard' }"
        >
        </sidebar-item>
        <sidebar-item
          :link="{ name: 'Sessions & Invoicing', icon: 'account_balance' }"
        >
          <sidebar-item
            :link="{
              name: 'View all Sessions',
              path: '/pages/view-sessions',
            }"
          ></sidebar-item>
          <sidebar-item
            :link="{
              name: 'View Invoices',
              path: '/pages/view-invoices',
            }"
          ></sidebar-item>
        </sidebar-item>
        <sidebar-item
          :link="{ name: 'Stay in Touch', icon: 'question_answer' }"
        >
          <sidebar-item
            :link="{
              icon: 'newspaper',
              name: 'News',
              path: '/pages/news',
            }"
          ></sidebar-item>
          <sidebar-item
            :link="{ name: 'Feedback', path: '/pages/feedback' }"
          ></sidebar-item>
        </sidebar-item>
        <sidebar-item
          :link="{
            name: 'Guardian Tracker',
            icon: 'share_location',
            path: '/tracker',
          }"
        >
        </sidebar-item>
        <sidebar-item
          :link="{
            name: 'Onyx',
            icon: 'timer',
            path: '/onyx',
          }"
        >
        </sidebar-item>

        <sidebar-item
          v-if="$store.state.userProfile.user_type === 'PARTNERADMIN'"
          :link="{ name: 'Site 20/20 Admin', icon: 'account_balance' }"
        >
          <sidebar-item
            :link="{
              name: 'Customer Success Report',
              path: '/pages/customer-success-report',
            }"
          ></sidebar-item>
          <sidebar-item
            :link="{
              name: 'Fleet Usage Report',
              path: '/pages/fleet-usage-report',
            }"
          ></sidebar-item>
          <sidebar-item
            :link="{
              name: 'Manage NAGs',
              path: '/pages/manage-nags',
            }"
          ></sidebar-item>
          <sidebar-item
            :link="{
              name: 'Deployment/Sales Management',
              path: '/pages/dep-sales-management',
            }"
          ></sidebar-item>
          <!--          <sidebar-item-->
          <!--            :link="{-->
          <!--              name: 'Add a New User',-->
          <!--              path: '/pages/client-invoicing',-->
          <!--            }"-->
          <!--          ></sidebar-item>-->
        </sidebar-item>
      </template>
    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>
      <div
        :class="{ content: !$route.meta.hideContent }"
        @click="toggleSidebar"
      >
        <zoom-center-transition :duration="200" mode="out-in">
          <!-- your content here -->
          <router-view></router-view>
        </zoom-center-transition>
      </div>
      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-new */
import PerfectScrollbar from "perfect-scrollbar";
import "perfect-scrollbar/css/perfect-scrollbar.css";

function hasElement(className) {
  return document.getElementsByClassName(className).length > 0;
}

function initScrollbar(className) {
  // if (hasElement(className)) {
  // //   new PerfectScrollbar(`.${className}`);
  // //   document.getElementsByClassName(className)[0].scrollTop = 0;
  // // } else {
  // //   // try to init it later in case this component is loaded async
  // //   setTimeout(() => {
  // //     initScrollbar(className);
  // //   }, 100);
  // }
}

function reinitScrollbar() {
  // let docClasses = document.body.classList;
  // let isWindows = navigator.platform.startsWith("Win");
  // if (isWindows) {
  //   // if we are on windows OS we activate the perfectScrollbar function
  //   initScrollbar("sidebar");
  //   initScrollbar("sidebar-wrapper");
  //   initScrollbar("main-panel");
  //
  //   docClasses.add("perfect-scrollbar-on");
  // } else {
  //   docClasses.add("perfect-scrollbar-off");
  // }
}

import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import MobileMenu from "./Extra/MobileMenu.vue";
import UserMenu from "./Extra/UserMenu.vue";
import { ZoomCenterTransition } from "vue2-transitions";
import SideBar from "../../../components/SidebarPlugin/SideBar.vue";

export default {
  components: {
    TopNavbar,
    ContentFooter,
    MobileMenu,
    UserMenu,
    ZoomCenterTransition,
    SideBar,
  },
  data() {
    return {
      sidebarBackgroundColor: "black",
      sidebarBackground: "azure",
      sidebarMini: true,
      sidebarImg: false,
    };
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    },
    minimizeSidebar() {
      if (this.$sidebar) {
        this.$sidebar.toggleMinimize();
      }
    },
  },
  updated() {
    // reinitScrollbar();
  },
  mounted() {
    // reinitScrollbar();
  },
  watch: {
    sidebarMini() {
      this.minimizeSidebar();
    },
  },
};
</script>
<style lang="scss">
$scaleSize: 0.95;
@keyframes zoomIn95 {
  from {
    opacity: 0;
    transform: scale3d($scaleSize, $scaleSize, $scaleSize);
  }
  to {
    opacity: 1;
  }
}
.main-panel .zoomIn {
  animation-name: zoomIn95;
}
@keyframes zoomOut95 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d($scaleSize, $scaleSize, $scaleSize);
  }
}
.main-panel .zoomOut {
  animation-name: zoomOut95;
}
</style>
