<template>
  <md-toolbar
    md-elevation="0"
    class="md-transparent"
    :class="{
      'md-toolbar-absolute md-white md-fixed-top': $route.meta.navbarAbsolute,
    }"
  >
    <div class="md-toolbar-row">
      <div class="md-toolbar-section-start">
        <h3 class="md-title">{{ $route.name }}</h3>
      </div>
      <div class="md-toolbar-section-end">
        <md-button
          class="md-just-icon md-round md-simple md-toolbar-toggle"
          :class="{ toggled: $sidebar.showSidebar }"
          @click="toggleSidebar"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </md-button>

        <div class="md-collapse">
          <div class="md-autocomplete">
            <!-- <md-autocomplete
              class="search"
              v-model="selectedEmployee"
              :md-options="employees"
              :md-open-on-focus="false"
            >
              <label>Search...</label>
            </md-autocomplete> -->
          </div>
          <md-list>
            <li class="md-list-item">
              <a
                href="#"
                class="
                  md-list-item-router md-list-item-container md-button-clean
                  dropdown
                "
              >
                <!-- <el-select v-model="imitateCustomer" v-if="$store.state.userProfile.user_type === 'PARTNERADMIN'" filterable placeholder="Select">
                 <el-option 
                  v-for="customer in $store.state.customerList.customerList" 
                  :key="customer.value"
                  :label="customer.text"
                  :value="customer.value">
                   {{customer.text}}
                </el-option>
               </el-select> -->
              </a>
            </li>
            <modal v-if="noticeModal" @close="noticeModalHide">
              <template slot="header">
                <h4 class="modal-title">{{ notificationTitle }}</h4>
                <md-button
                  class="md-simple md-just-icon md-round modal-default-button"
                  @click="noticeModalHide"
                >
                  <md-icon>clear</md-icon>
                </md-button>
              </template>

              <template slot="body">
                <p>{{ notificationContent }}</p>
                <p>
                  <a
                    v-if="notificationLink != '#'"
                    style="color: black"
                    :href="notificationLink"
                  >
                    Content Link {{ notificationLink }}
                  </a>
                </p>
                <p>
                  Posted On:
                  {{ moment(notificationDate).format("MMMM DD, yyyy") }}
                </p>
              </template>

              <template slot="footer">
                <md-button class="md-danger md-simple" @click="noticeModalHide"
                  >Close Notification</md-button
                >
                >
              </template>
            </modal>
            <md-list-item>
              <li v-if="$store.state.userProfile.user_type === 'PARTNERADMIN'">
                <md-field>
                  <md-select style="width: 250px" v-model="imitateCustomer">
                    <md-option
                      v-for="customer in $store.state.customerList.customerList"
                      v-bind:key="customer.value"
                      :value="customer.value"
                    >
                      {{ customer.text }} - {{ customer.value }}
                    </md-option>
                  </md-select>
                </md-field>
              </li>
            </md-list-item>
            <md-list-item href="#/pages/basestation-passthrough">
              <i class="material-icons">settings_input_antenna</i>
              <p class="hidden-lg hidden-md">Basestation Passthrough</p>
            </md-list-item>
            <md-list-item href="#/">
              <i class="material-icons">dashboard</i>
              <p class="hidden-lg hidden-md">Dashboard</p>
            </md-list-item>

            <li class="md-list-item">
              <a
                href="#"
                class="
                  md-list-item-router md-list-item-container md-button-clean
                  dropdown
                "
              >
                <div class="md-list-item-content">
                  <drop-down direction="down">
                    <md-button
                      slot="title"
                      class="md-button md-just-icon md-simple"
                      data-toggle="dropdown"
                      v-on:click="ChangeAlertStatus"
                    >
                      <md-icon>notifications</md-icon>
                      <span
                        class="notification"
                        v-if="
                          $store.state.notification.AlertStatus
                            .notification_status === 0
                        "
                      ></span>
                      <span v-else></span>
                      <p class="hidden-lg hidden-md">Notifications</p>
                    </md-button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li
                        v-for="notification in $store.state.notification
                          .Notifications"
                        v-bind:key="notification.id"
                        @click="loadNotificationIntoMemory(notification)"
                      >
                        <a @click="noticeModal = true">{{
                          notification.title
                        }}</a>
                      </li>
                    </ul>
                  </drop-down>
                  <drop-down direction="down">
                    <md-button
                      slot="title"
                      class="md-button md-just-icon md-simple"
                      data-toggle="dropdown"
                      v-on:click="ChangeAlertStatus"
                    >
                      <md-icon>person</md-icon>
                      <span
                        v-if="
                          $store.state.notification.AlertStatus
                            .notification_status === 0
                        "
                      ></span>
                      <span v-else></span>
                      <p class="hidden-lg hidden-md">Notifications</p>
                    </md-button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                        <a href="#/pages/user/">My Profile</a>
                      </li>
                      <li>
                        <a
                          v-if="
                            $store.state.userProfile.user_type === 'PARTNER' ||
                            $store.state.userProfile.user_type ===
                              'PARTNERADMIN'
                          "
                          href="#/pages/sub-office-management/"
                          >Sub Offices</a
                        >
                      </li>
                      <li>
                        <a
                          v-if="
                            $store.state.userProfile.user_type === 'PARTNER' ||
                            $store.state.userProfile.user_type ===
                              'PARTNERADMIN'
                          "
                          href="#/pages/add-user/"
                          >Add User</a
                        >
                      </li>
                      <li>
                        <a
                          v-if="
                            $store.state.userProfile.user_type === 'PARTNER' ||
                            $store.state.userProfile.user_type ===
                              'PARTNERADMIN'
                          "
                          href="#/pages/manage-user/"
                          >Manage User</a
                        >
                      </li>
                      <li>
                        <a v-on:click="logoutNow">Logout</a>
                      </li>
                    </ul>
                  </drop-down>
                </div>
              </a>
            </li>
          </md-list>
        </div>
      </div>
    </div>
    <modal v-if="manageModal" @close="manageModalHide">
      <template slot="header">
        <h4 class="modal-title">Basestation Passthrough</h4>
        <md-button
          class="md-simple md-just-icon md-round modal-default-button"
          @click="manageModalHide"
        >
          <md-icon>clear</md-icon>
        </md-button>
      </template>

      <template slot="body">
        <BasestationPassthroughContent />
      </template>
      <template slot="footer">
        <md-button class="md-simple md-info">Audit Log</md-button>
      </template>
    </modal>
  </md-toolbar>
</template>

<script>
import { userprofileMethods } from "@/state/helpers";
import { notificationMethods } from "@/state/helpers";
import { employeeListMethods } from "@/state/helpers";
import { customerListMethods } from "@/state/helpers";
import { authFackMethods } from "@/state/helpers";
import { sessionsMethods } from "@/state/helpers";

import { Modal } from "@/components";
import onyxapi from "../../../services/onyxapi";

export default {
  components: {
    Modal,
  },
  data() {
    return {
      manageModal: false,
      imitateCustomer: null,
      notificationTitle: null,
      notificationContent: null,
      notificationLink: null,
      notificationDate: null,
      noticeModal: false,
    };
  },
  watch: {
    imitateCustomer: function (val, prev) {
      localStorage.setItem("S2020_imitate_customer", val);
      this.$store.state.Imitate_Customer_store = val;
      this.imitateCustomer = val;
      if (prev != null) {
        window.location.reload(); //For Reload of everything.
      }
    },
  },
  mounted() {
    if (
      localStorage.getItem("S2020_imitate_customer") == null ||
      localStorage.getItem("S2020_imitate_customer") == 0
    ) {
      var base64Url = localStorage.getItem("S2020_AUTHKEY").split(".")[1];
      var base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
      var jsonPayload = decodeURIComponent(
        atob(base64)
          .split("")
          .map(function (c) {
            return "%" + ("00" + c.charCodeAt(0).toString(16)).slice(-2);
          })
          .join("")
      );
      this.imitateCustomer = JSON.parse(jsonPayload).Site2020_CustomerID;
      localStorage.setItem("S2020_imitate_customer", this.imitateCustomer);
      this.$store.state.Imitate_Customer_store = this.imitateCustomer;
    } else {
      this.imitateCustomer = localStorage.getItem("S2020_imitate_customer");
    }
    this.loadData();
  },
  methods: {
    ...userprofileMethods,
    ...customerListMethods,
    ...notificationMethods,
    ...employeeListMethods,
    ...authFackMethods,
    ...sessionsMethods,
    manageModalHide: function () {
      this.manageModal = false;
    },
    noticeModalHide: function () {
      this.noticeModal = false;
    },
    loadData() {
      this.setprofile();
      this.setnotifications();
      this.allemployees();
      this.allcustomers();
      this.GetAlertStatus();
      this.getsessions();
      this.GetExclusionZones();
    },
    loadNotificationIntoMemory(alert) {
      this.notificationDate = alert.datetime;
      this.notificationTitle = alert.title;
      this.notificationContent = alert.content;
      this.notificationLink = alert.link;
    },
    logoutNow() {
      this.logout({});
    },
    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
    },
    ChangeAlertStatus() {
      let that = this;
      if (
        that.$store.state.notification.AlertStatus.notification_status === 0
      ) {
        const params = new FormData();
        onyxapi.post("/updateAlertStatus", params).then(function (response) {
          that.GetAlertStatus();
        });
      }
    },
    minimizeSidebar() {
      if (this.$sidebar) {
        this.$sidebar.toggleMinimize();
      }
    },
  },
};
</script>
<style lang="scss">
.text-center {
  text-align: center;
}
.bodyStyle {
  overflow-wrap: break-word;
}
.places-buttons + div .md-button:not(:last-child) {
  margin-right: 5px;
}
</style>
