<template>
  <ValidationObserver v-slot="{ handleSubmit }">
    <form @submit.prevent="handleSubmit">
      <div class="md-layout">
        <div class="md-layout-item md-size-50">
          <md-card class="">
            <md-card-header
              class="md-card-header-icon"
              :class="getClass(headerColor)"
            >
              <h4 class="title">Add New Sub-Office</h4>
            </md-card-header>

            <md-card-content>
              <md-field>
                <label>Sub-Office Name</label>
                <md-input v-model="SubOfficeName" />
              </md-field>
              <md-button @click="AddNewSubOffice" class="md-success"
                >Add Sub-Office</md-button
              >
              <br /><br />
              <el-table
                :header-cell-style="tableRowStyle"
                :cell-style="tableRowStyle"
                :data="displayOffices"
              >
                <el-table-column label="Office Name" prop="office_name">
                </el-table-column>
                <el-table-column label="Remove Office" prop="actions">
                  <template slot-scope="scope">
                    <md-button
                      @click="RemoveSubOffice(scope.row.id)"
                      class="md-danger md-simple md-just-icon"
                    >
                      <md-icon>cancel</md-icon>
                      <md-tooltip md-direction="top"
                        >Remove Sub-Office</md-tooltip
                      >
                    </md-button>
                  </template>
                </el-table-column>
              </el-table>
            </md-card-content>
          </md-card>
        </div>
        <div class="md-layout-item md-size-50">
          <md-card class="">
            <md-card-header
              class="md-card-header-icon"
              :class="getClass(headerColor)"
            >
              <h4 class="title">Assign Equipment to Sub-Offices</h4>
            </md-card-header>

            <md-card-content>
              <md-field>
                <label>Sub-Office</label>
                <md-select v-model="WhichSubOffice">
                  <md-option
                    v-for="client in displayOffices"
                    :value="client.id"
                    v-bind:key="client.id"
                    >{{ client.office_name }}
                  </md-option>
                </md-select>
              </md-field>
              <md-field>
                <label>Base Station Serial</label>
                <md-select v-model="WhichSerialNumber">
                  <md-option
                    v-for="serial in allBSTS"
                    :value="serial.serial"
                    v-bind:key="serial.id"
                    >{{ serial.serial }}
                  </md-option>
                </md-select>
              </md-field>
              <md-button @click="AssignBaseToOffice" class="md-success"
                >Assign Base Station to Sub-Office</md-button
              >
              <br /><br />
              <el-table
                :header-cell-style="tableRowStyle"
                :cell-style="tableRowStyle"
                :data="allAssignments"
              >
                <el-table-column label="Office Name" prop="office_name">
                </el-table-column>
                <el-table-column label="Serial" prop="serial">
                </el-table-column>
                <el-table-column label="Actions" prop="actions">
                  <template slot-scope="scope">
                    <md-button
                      @click="UnassignBase(scope.row.id)"
                      class="md-danger md-simple md-just-icon"
                    >
                      <md-icon>cancel</md-icon>
                      <md-tooltip md-direction="top"
                      >Unassign Base Station</md-tooltip
                      >
                    </md-button>
                  </template>
                </el-table-column>
              </el-table>
            </md-card-content>
          </md-card>
        </div>
        <div class="md-layout-item md-size-100">
          <md-card class="">
            <md-card-header
              class="md-card-header-icon"
              :class="getClass(headerColor)"
            >
              <h4 class="title">
                Past/Current Site 20/20 Equipment Assigned to
                {{ $store.state.userProfile.name }}
              </h4>
            </md-card-header>

            <md-card-content>
              <el-table
                :header-cell-style="tableRowStyle"
                :cell-style="tableRowStyle"
                :data="displayShipments"
              >
                <el-table-column label="Serial" prop="serial">
                </el-table-column>
                <el-table-column label="Shipment Date" prop="ship_date">
                </el-table-column>
                <el-table-column label="Deployment Date" prop="deployment_date">
                </el-table-column>
              </el-table>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </form>
  </ValidationObserver>
</template>
<script>
export default {
  name: "sub-offices-content",
  props: {
    headerColor: {
      type: String,
      default: "blue",
    },
  },
  mounted() {
    this.GetCustomerList();
    this.DisplayAllShipments();
    if (this.$store.state.userProfile.user_type == "PARTNERPARENT") {
      this.DisplayAllSubOfficesParent();
      this.DisplayAllAssignmentsParent();
    } else {
      this.DisplayAllSubOffices();
      this.DisplayAllAssignments();
    }
    this.DisplayAllBSTSForClients();
  },
  data() {
    return {
      displayShipments: [],
      CustomerList: [],
      boxTwo: "",
      boxThree: "",
      allAssignments: [],
      WhichMainOffice: "",
      AddNewMainOffice: "",
      VettedSubOfficeList: [],
      VettedBaseList: [],
      successfulPasswordUpdate: null,
      failedPasswordUpdate: null,
      WhichSubOffice: "",
      WhichSerialNumber: "",
      displayAssignedSerials: [],
      allBSTS: [],
      SubOfficeName: "",
      displayOffices: [],
    };
  },
  computed: {},
  methods: {
    showMsgBoxTwo(JobData) {
      this.boxTwo = "";
      this.$bvModal
        .msgBoxConfirm(
          "You are about to remove an active sub-office. Doing this will unassign any bases that are assigned to this office.",
          {
            title: "Please Confirm",
            size: "sm",
            buttonSize: "sm",
            okVariant: "danger",
            okTitle: "YES",
            cancelTitle: "NO",
            footerClass: "p-2",
            hideHeaderClose: false,
            centered: true,
          }
        )
        .then((value) => {
          if (value == true) {
            this.RemoveSubOffice(JobData);
          } else {
            this.failedPasswordUpdate = "Office was not removed.";
          }
        })
        .catch((err) => {
          // An error occurred
        });
    },
    showMsgBoxThree(JobData) {
      this.boxThree = "";
      this.$bvModal
        .msgBoxConfirm(
          "You are about to unassign a base station from an office.",
          {
            title: "Please Confirm",
            size: "sm",
            buttonSize: "sm",
            okVariant: "danger",
            okTitle: "YES",
            cancelTitle: "NO",
            footerClass: "p-2",
            hideHeaderClose: false,
            centered: true,
          }
        )
        .then((value) => {
          if (value == true) {
            this.UnassignBase(JobData);
          } else {
            this.failedPasswordUpdate = "Base station was not unassigned.";
          }
        })
        .catch((err) => {
          // An error occurred
        });
    },
    BiggerScript() {
      this.getSubOfficesFromMain();
      this.getAssignedBasesFromMain();
    },
    getAssignedBasesFromMain() {
      let that = this;
      const params = new FormData();
      params.append("action", "GetAssignedBasesFromMain");
      params.append("SelectedCompanyID", this.AddNewMainOffice);
      api.post("/jsonhandler.php", params).then(function (response) {
        that.VettedBaseList = response.data;
      });
    },
    getSubOfficesFromMain() {
      let that = this;
      const params = new FormData();
      params.append("action", "GetSubOfficesFromMain");
      params.append("SelectedCompanyID", this.AddNewMainOffice);
      api.post("/jsonhandler.php", params).then(function (response) {
        that.VettedSubOfficeList = response.data;
      });
    },
    GetCustomerList() {
      let that = this;
      if (
        that.$store.state.User_Type == "PARTNERADMIN" ||
        this.$store.state.User_Type == "PARTNERPARENT" ||
        that.$store.state.User_Type == "PARTNERSALES"
      ) {
        const params = new FormData();
        params.append("action", "getCustomerList");
        api.post("/jsonhandler.php", params).then(function (response) {
          that.CustomerList = response.data;
        });
      }
    },
    notifyVue(message, type) {
      this.$notify({
        message: message,
        icon: "add_alert",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: type,
      });
    },
    RemoveSubOffice(JobData) {
      let that = this;
      const params = new FormData();
      if (that.$store.state.userProfile.user_type == "PARTNERPARENT") {
        params.append("SubOfficeNumber", JobData.id);
        params.append("SelectedCustomerID", JobData.customer_id);
        params.append("action", "RemoveSubOfficeParent");
        api.post("/jsonhandler.php", params).then(function (response) {
          that.notifyVue("Sub-Office removed successfully.", "success");
          that.DisplayAllSubOfficesParent();
          that.DisplayAllAssignmentsParent();
        });
      } else {
        params.append("SubOfficeNumber", JobData);
        params.append("action", "RemoveSubOffice");
        api.post("/jsonhandler.php", params).then(function (response) {
          that.notifyVue("Sub-Office removed successfully.", "success");
          that.DisplayAllSubOffices();
          that.DisplayAllAssignments();
        });
      }
    },
    UnassignBase(JobData) {
      let that = this;
      const params = new FormData();
      if (that.$store.state.userProfile.user_type == "PARTNERPARENT") {
        params.append("BaseNumber", JobData.id);
        params.append("SelectedCustomerID", JobData.customer_id);
        params.append("action", "UnassignBaseParent");
        api.post("/jsonhandler.php", params).then(function (response) {
          if (response.data != null) {
            that.notifyVue(
              "The base station has been unassigned successfully..",
              "success"
            );
            that.DisplayAllAssignmentsParent();
          }
        });
      } else {
        params.append("BaseNumber", JobData);
        params.append("action", "UnassignBase");
        api.post("/jsonhandler.php", params).then(function (response) {
          if (response.data != null) {
            that.notifyVue(
              "The base station has been unassigned successfully..",
              "success"
            );
            that.DisplayAllAssignments();
          }
        });
      }
    },
    DisplayAllAssignmentsParent() {
      let that = this;
      const params = new FormData();
      params.append("action", "DisplayAllAssignmentsParent");
      api.post("/jsonhandler.php", params).then(function (response) {
        that.allAssignments = response.data;
      });
    },
    DisplayAllAssignments() {
      let that = this;
      const params = new FormData();
      params.append("action", "DisplayAllAssignments");
      api.post("/jsonhandler.php", params).then(function (response) {
        that.allAssignments = response.data;
      });
    },
    AssignBaseToOffice() {
      let that = this;
      const params = new FormData();
      if (that.WhichSubOffice == "") {
        that.failedPasswordUpdate =
          "You must select a Sub-Office and a BaseStation in order to assign them together.";
      } else {
        if (that.$store.state.userProfile.user_type == "PARTNERPARENT") {
          params.append("subOfficeName", that.WhichSubOffice);
          params.append("serialNumber", that.WhichSerialNumber);
          params.append("MainOfficeNumber", that.AddNewMainOffice);
          params.append("action", "AssignBaseToOfficeParent");
          api.post("/jsonhandler.php", params).then(function (response) {
            if (response.data == "Base Found") {
              that.failedPasswordUpdate =
                "This Base Station is already assigned to an office. Remove it from that office first before assigning it to another. If this issue continues, please contact support.";
            } else {
              that.successfulPasswordUpdate =
                "Base Station has been assigned to the sub-office successfully.";
              that.DisplayAllSubOfficesParent();
              that.DisplayAllAssignmentsParent();
            }
          });
        } else {
          params.append("subOfficeName", that.WhichSubOffice);
          params.append("serialNumber", that.WhichSerialNumber);
          params.append("action", "AssignBaseToOffice");
          api.post("/jsonhandler.php", params).then(function (response) {
            if (response.data == "Base Found") {
              that.notifyVue("This Base Station is already assigned to an office. Remove it from that office first before assigning it to another.", "warning");
            } else {
              that.notifyVue("This Base Station has been assigned to a sub-office successfully.", "success");
              that.DisplayAllSubOffices();
              that.DisplayAllShipments();
              that.DisplayAllAssignments();
            }
          });
        }
      }
    },
    AddNewSubOffice() {
      let that = this;
      if (that.SubOfficeName == "") {
        that.notifyVue(
          "You must provide a sub-office name to continue.",
          "danger"
        );
      } else {
        const params = new FormData();
        params.append("subOfficeName", that.SubOfficeName);
        params.append("action", "AddNewSubOffice");
        api.post("/jsonhandler.php", params).then(function (response) {
          that.notifyVue("Sub-Office has been successfully added.", "success");
          that.DisplayAllSubOffices();
        });
      }
    },
    AddNewSubOfficeParent() {
      let that = this;
      if (that.WhichMainOffice == "") {
        that.notifyVue(
          "You must provide a sub-office name to continue.",
          "danger"
        );
      } else {
        const params = new FormData();
        params.append("subOfficeName", that.SubOfficeName);
        params.append("MainOfficeID", that.WhichMainOffice);
        params.append("action", "AddNewSubOfficeParent");
        api.post("/jsonhandler.php", params).then(function (response) {
          that.notifyVue("Sub-Office has been successfully added.", "success");
          that.DisplayAllSubOfficesParent();
        });
      }
    },
    DisplayAllBSTSForClients() {
      let that = this;
      const params = new FormData();
      params.append("action", "DisplayAllBSTSForClients");
      api.post("/jsonhandler.php", params).then(function (response) {
        that.allBSTS = response.data;
      });
    },
    DisplayAllShipments() {
      let that = this;
      const params = new FormData();
      params.append("action", "DisplayAllShipments");
      api.post("/jsonhandler.php", params).then(function (response) {
        that.displayShipments = response.data;
      });
    },
    DisplayAllSubOffices() {
      let that = this;
      const params = new FormData();
      params.append("action", "DisplayAllSubOffices");
      api.post("/jsonhandler.php", params).then(function (response) {
        that.displayOffices = response.data;
      });
    },
    DisplayAllSubOfficesParent() {
      let that = this;
      const params = new FormData();
      params.append("action", "DisplayAllSubOfficesParent");
      api.post("/jsonhandler.php", params).then(function (response) {
        that.displayOffices = response.data;
      });
    },
    tableRowStyle({ row, rowIndex }) {
      return "text-align: center; color: black;";
    },
    getClass: function (headerColor) {
      return "md-card-header-" + headerColor + "";
    },
  },
};
</script>
<style>
.text-center {
  text-align: center;
}
.button-padding {
  margin-left: 20px;
  margin-right: 20px;
}
</style>
