<template>
  <form>
    <md-card>
      <md-card-header
        class="md-card-header-icon"
        :class="getClass(headerColor)"
      >
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-small-size-100 md-size-100">asdf</div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</template>
<script>
import { notificationMethods } from "@/state/helpers";

export default {
  name: "onyx-content",
  props: {
    headerColor: {
      type: String,
      default: "blue",
    },
  },
  data() {
    return {};
  },

  methods: {
    ...notificationMethods,
    notifyVue(message, type) {
      this.$notify({
        message: message,
        icon: "add_alert",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: type,
      });
    },
    getClass: function (headerColor) {
      return "md-card-header-" + headerColor + "";
    },
  },
};
</script>
<style></style>
