<template>
  <form>
    <md-card>
      <md-card-header
        class="md-card-header-icon"
        :class="getClass(headerColor)"
      >
        <div class="card-icon">
          <md-icon>perm_identity</md-icon>
        </div>
        <h4 class="title">User Profile</h4>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Company (disabled)</label>
              <md-input
                v-model="this.$store.state.userProfile.name"
                disabled
              ></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Email Address (disabled)</label>
              <md-input
                v-model="$store.state.userProfile.email"
                type="email"
                disabled
              ></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>First Name</label>
              <md-input v-model="FirstName" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Last Name</label>
              <md-input v-model="LastName" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>New Password</label>
              <md-input v-model="password" type="password"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Confirm New Password</label>
              <md-input v-model="confirmpassword" type="password"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Phone Number</label>
              <md-input
                v-model="PhoneNumber"
                :value="this.$store.state.userProfile.phone_number"
                type="text"
              ></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-50 md-size-50">
            <md-field>
              <label>User Avatar</label>
              <md-file accept="image/*" @change="uploadUserAvatar" />
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>GSF Battery Level Alert</label>
              <md-select
                :value="BatteryAlert"
                name="onyx_email_settings"
                id="onyx_email_settings"
              >
                <md-option value="1">Enabled</md-option>
                <md-option value="0">Disabled</md-option>
              </md-select>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Tablet Battery Level Alert</label>
              <md-select
                :value="TabletAlert"
                name="onyx_email_settings"
                id="onyx_email_settings"
              >
                <md-option value="1">Enabled</md-option>
                <md-option value="0">Disabled</md-option>
              </md-select>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Missing USB Alert</label>
              <md-select
                :value="USBAlert"
                name="onyx_email_settings"
                id="onyx_email_settings"
              >
                <md-option value="1">Enabled</md-option>
                <md-option value="0">Disabled</md-option>
              </md-select>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Basestation Left On Too Long</label>
              <md-select
                :value="LeftOnAlert"
                name="onyx_email_settings"
                id="onyx_email_settings"
              >
                <md-option value="1">Enabled</md-option>
                <md-option value="0">Disabled</md-option>
              </md-select>
            </md-field>
          </div>

          <div class="md-layout-item md-size-100 text-right">
            <md-button class="md-raised md-success mt-4" @click="UpdateProfile"
              >Update Profile</md-button
            >
          </div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</template>
<script>
import { userprofileMethods } from "../../../../state/helpers";
import Swal from "sweetalert2";

export default {
  name: "edit-profile-form",
  props: {
    headerColor: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      password: "",
      confirmpassword: "",
      FirstName: "",
      LastName: "",
      Email: "",
      PhoneNumber: null,
      TabletAlert: null,
      USBAlert: null,
      BatteryAlert: null,
      LeftOnAlert: null,
    };
  },
  mounted() {
    this.FirstName = this.$store.state.userProfile.first_name;
    this.LastName = this.$store.state.userProfile.last_name;
    this.PhoneNumber = this.$store.state.userProfile.phone_number;
    this.Email = this.$store.state.userProfile.email;
    this.TabletAlert = this.$store.state.userProfile.ExternalParseTabletBattery;
    this.LeftOnAlert = this.$store.state.userProfile.BaseLeftOnTooLong;
    this.USBAlert = this.$store.state.userProfile.ExternalParseUSBAlert;
    this.BatteryAlert = this.$store.state.userProfile.ExternalParseBatteryLevel;
  },
  methods: {
    ...userprofileMethods,
    uploadUserAvatar(e) {
      const image = e.target.files[0];
      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = (e) => {
        const src = e.target.result;
        const img = new Image();
        img.onload = () => {
          this.$emit("loaded", { src, image, width: img.width });
          if ((img.width <= 400) & (img.height <= 500)) {
            let that = this;
            const params = new FormData();
            params.append("action", "uploadUserAvatar");
            params.append("user_avatar", src);
            onyxapi.post("/uploaduseravatar", params).then(function (response) {
              if (response.data != "success") {
                const swalWithBootstrapButtons = Swal.mixin({
                  customClass: {
                    confirmButton: "md-button md-success",
                  },
                  buttonsStyling: false,
                });
                swalWithBootstrapButtons.fire({
                  title: "Error!",
                  text: "The user avatar failed to upload. Please contact support for further assistance.",
                  icon: "error",
                  confirmButtonText: "Continue",
                });
              } else {
                const swalWithBootstrapButtons = Swal.mixin({
                  customClass: {
                    confirmButton: "md-button md-success",
                  },
                  buttonsStyling: false,
                });
                swalWithBootstrapButtons.fire({
                  title: "Success!",
                  text: "The user avatar has been uploaded to the server. Please refresh to view your new logo.",
                  icon: "success",
                  confirmButtonText: "Continue",
                });
              }
            });
          } else {
            const swalWithBootstrapButtons = Swal.mixin({
              customClass: {
                confirmButton: "md-button md-success",
              },
              buttonsStyling: false,
            });
            swalWithBootstrapButtons.fire({
              title: "Error!",
              text: "The image is too big and cannot be uploaded. Please upload a file no larger than 300x166.",
              icon: "error",
              confirmButtonText: "Continue",
            });
          }
        };
        img.onerror = () => {
          this.$emit("error");
        };
        img.src = src;
      };
    },
    UpdateProfile() {
      this.UpdatePassword();
      this.UpdateName();
    },
    UpdatePassword() {
      let that = this;
      if (that.password != "" && that.confirmpassword != "") {
        if (that.password == that.confirmpassword) {
          const params = new FormData();
          params.append("action", "updateProfileInformation");
          params.append("newPassword", that.password);
          api
            .post("/jsonhandler.php", params)
            .then(function (response) {
              if (response != null) {
                const swalWithBootstrapButtons = Swal.mixin({
                  customClass: {
                    confirmButton: "md-button md-success",
                  },
                  buttonsStyling: false,
                });
                swalWithBootstrapButtons.fire({
                  title: "Success!",
                  text: "Your password has been updated successfully.",
                  icon: "success",
                  confirmButtonText: "Continue",
                });
              }
            })
            .catch(function () {
              const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                  confirmButton: "md-button md-success",
                },
                buttonsStyling: false,
              });
              swalWithBootstrapButtons.fire({
                title: "Error!",
                text: "Oops! Something happened. Try again later.",
                icon: "error",
                confirmButtonText: "Continue",
              });
            });
        } else {
          const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: "md-button md-success",
            },
            buttonsStyling: false,
          });
          swalWithBootstrapButtons.fire({
            title: "Error!",
            text: "Your passwords did not match. Please try again!",
            icon: "error",
            confirmButtonText: "Continue",
          });
        }
      } else {
      }
    },
    UpdateName() {
      let that = this;
      if (
        that.FirstName !== that.$store.state.userProfile.first_name ||
        that.LastName != that.$store.state.userProfile.last_name ||
        that.PhoneNumber != that.$store.state.userProfile.phone_number
      ) {
        if (that.FirstName != "" && that.LastName != "") {
          const params = new FormData();
          params.append("action", "UpdateTombstoneInformation");
          params.append("first_name", that.FirstName);
          params.append("last_name", that.LastName);
          params.append("email", that.Email);
          params.append("phone_number", that.PhoneNumber);
          api.post("/jsonhandler.php", params).then(function (response) {
            if (response.data != null) {
              const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                  confirmButton: "md-button md-success",
                },
                buttonsStyling: false,
              });
              swalWithBootstrapButtons.fire({
                title: "Success!",
                text: "Your profile information has been updated.",
                icon: "success",
                confirmButtonText: "Continue",
              });
              that.setprofile();
            } else {
              const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                  confirmButton: "md-button md-success",
                },
                buttonsStyling: false,
              });
              swalWithBootstrapButtons.fire({
                title: "Error!",
                text: "Oops! Something happened. Try again later.",
                icon: "error",
                confirmButtonText: "Continue",
              });
            }
          });
        } else {
          that.failedPasswordUpdate =
            "One ore more of the required fields were not filled out.";
        }
      } else {
      }
    },
    getClass: function (headerColor) {
      return "md-card-header-" + headerColor + "";
    },
  },
};
</script>
<style></style>
