<template>
  <md-card class="md-card-profile">
    <div class="md-card-avatar">
      <img
        v-if="$store.state.userProfile.user_avatar === null"
        src="../../../../../public/img/default-avatar.png"
        alt="avatar"
      />
      <img v-else :src="$store.state.userProfile.user_avatar" alt="avatar" />
    </div>

    <md-card-content>
      <h6 class="category data">
        Permission Level: {{ $store.state.userProfile.user_type }}
      </h6>
      <h4 class="card-title">
        {{ $store.state.userProfile.first_name }}
        {{ $store.state.userProfile.last_name }}
      </h4>
    </md-card-content>
  </md-card>
</template>
<script>
export default {
  name: "user-card",
  props: {
    cardUserImage: {
      type: String,
      default: "./img/faces/marc.jpg",
    },
    buttonColor: {
      type: String,
      default: "",
    },
  },
  data() {
    return {};
  },
  methods: {
    getColorButton: function (buttonColor) {
      return "md-" + buttonColor + "";
    },
  },
};
</script>
<style>
.data {
  color: black;
}
</style>
