<template>
  <div class="content">
    <div class="md-layout">
      <!-- <MainSVS /> -->
      <div class="md-layout-item md-medium-size-100 md-size-66">
        <edit-profile-form header-color="blue"> </edit-profile-form>
      </div>
      <div class="md-layout-item md-medium-size-100 md-size-33">
        <user-card button-color="success"> </user-card>
      </div>
    </div>
  </div>
</template>

<script>
//import MainSVS from "../../../../components/SVS/";
import { EditProfileForm, UserCard } from "@/pages";
export default {
  components: {
    EditProfileForm,
    UserCard,
    //MainSVS
  },
};
</script>
<style lang="scss">
.text-right {
  display: flex;
}
</style>
