<template>
  <div class="md-layout">
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-33"
    >
      <md-card>
        <md-card-header
          class="md-card-header-icon"
          :class="getClass(headerColor)"
        >
        </md-card-header>

        <md-card-content>
          <md-button @click="GetReport" class="md-success md-block"
            >Generate Report</md-button
          >
          <md-button @click="addNewNagToggle" class="md-success md-block"
            >Add New Nag</md-button
          >
        </md-card-content>
      </md-card>
    </div>
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-66"
    >
      <md-card v-if="addNewNag">
        <md-card-header
          class="md-card-header-icon"
          :class="getClass(headerColor)"
        >
          <h4 class="title">Add New Nag</h4>
        </md-card-header>

        <md-card-content>
          <md-field>
            <label>Client Name:</label>
            <md-select v-model="WhichClientToNag">
              <md-option
                v-for="client in CustomerList"
                :value="client.value"
                v-bind:key="client.id"
                >{{ client.text }}</md-option
              >
            </md-select>
          </md-field>
          <md-field>
            <flat-pickr
              v-model="startOn"
              :config="config"
              class="non-read-only"
              id="startOn"
              name="startOn"
              placeholder="Select Start Date"
            />
          </md-field>

          <md-field>
            <flat-pickr
              v-model="expireOn"
              :config="config"
              class="non-read-only"
              id="expireOn"
              name="expireOn"
              placeholder="Select End Date"
            />
          </md-field>

          <md-field>
            <label>NAG Type:</label>
            <md-button class="md-warning" @click="NaggedMessage"
              >Nagged</md-button
            >
            <md-button class="md-danger" @click="DisabledMessage"
              >Disabled</md-button
            >
          </md-field>

          <md-field>
            <label>Message:</label>
            <md-input v-model="nagMessage" />
          </md-field>

          <md-field>
            <label>Frequency Minutes</label>
            <md-select v-model="MinutesToNag">
              <md-option value="100">100</md-option>
              <md-option value="-1">-1 (Disabled)</md-option>
            </md-select>
          </md-field>
          <br />
          <md-button class="md-success md-block" @click="SubmitNewNag"
            >Add NAG</md-button
          >
        </md-card-content>
      </md-card>
    </div>
    <md-card class="md-layout-item md-small-size-100 md-size-100">
      <md-card-header
        class="md-card-header-icon"
        :class="getClass(headerColor)"
      >
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-small-size-100 md-size-100">
            <table
              class="table table-hover table-striped"
              id="employeesOnSiteTable"
            >
              <thead class="">
                <tr>
                  <th class="text-center">Name</th>
                  <th class="text-center">Added On</th>
                  <th class="text-center">Start On</th>
                  <th class="text-center">End On</th>
                  <th class="text-center">Message</th>
                  <th class="text-center">Remove Nag</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="NAG in NagReportData"
                  v-bind:key="NAG.id"
                  class="text-center"
                >
                  <td
                    v-if="
                      NAG.start_on < NAG.expire_on &&
                      moment().format('yyyy-MM-d H:mm:ss') > NAG.start_on
                    "
                    class="table-success"
                  >
                    {{ NAG.name }}
                  </td>
                  <td v-else class="">
                    {{ NAG.name }}
                  </td>
                  <td
                    v-if="
                      NAG.start_on < NAG.expire_on &&
                      moment().format('yyyy-MM-d H:mm:ss') > NAG.start_on
                    "
                    class="table-success"
                  >
                    {{ NAG.added_on }}
                  </td>
                  <td v-else class="">
                    {{ NAG.added_on }}
                  </td>
                  <td
                    v-if="
                      NAG.start_on < NAG.expire_on &&
                      moment().format('yyyy-MM-d H:mm:ss') > NAG.start_on
                    "
                    class="table-success"
                  >
                    {{ NAG.start_on }}
                  </td>
                  <td v-else class="">
                    {{ NAG.start_on }}
                  </td>
                  <td
                    v-if="
                      NAG.start_on < NAG.expire_on &&
                      moment().format('yyyy-MM-d H:mm:ss') > NAG.start_on
                    "
                    class="table-success"
                  >
                    {{ NAG.expire_on }}
                  </td>
                  <td v-else class="">
                    {{ NAG.expire_on }}
                  </td>
                  <td
                    v-if="
                      NAG.start_on < NAG.expire_on &&
                      moment().format('yyyy-MM-d H:mm:ss') > NAG.start_on
                    "
                    class="table-success"
                  >
                    {{ NAG.message }}
                  </td>
                  <td v-else>
                    {{ NAG.message }}
                  </td>
                  <td
                    v-if="
                      NAG.start_on < NAG.expire_on &&
                      moment().format('yyyy-MM-d H:mm:ss') > NAG.start_on
                    "
                    class="table-success"
                  >
                    <md-button
                      v-on:click="handleDelete(NAG)"
                      class="md-success md-block"
                      >Paid</md-button
                    >
                  </td>
                  <td v-else>
                    <p class="h4 mb-2 text-center">
                      <md-button
                        v-on:click="handleDelete(NAG)"
                        class="md-success md-block"
                        >Paid</md-button
                      >
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</template>
<script>
import { notificationMethods } from "@/state/helpers";
import Swal from "sweetalert2";

export default {
  name: "manage-nag-content",
  props: {
    headerColor: {
      type: String,
      default: "blue",
    },
  },
  mounted() {
    this.GetCustomerList();
  },
  data() {
    return {
      failedPasswordUpdate: null,
      successfulPasswordUpdate: null,
      addNewNag: false,
      WhichClientToNag: null,
      MinutesToNag: null,
      config: {
        enableTime: true,
        altFormat: "Y-m-d H:i:ss",
        altInput: true,
        time_24hr: true,
      },
      startOn: null,
      expireOn: null,
      nagMessage: null,
      CustomerList: [],
      SelectedClient: "All",
      NagReportData: [],
      NagedTableData: [
        "name",
        "added_on",
        "start_on",
        "expire_on",
        "message",
        "frequency_minutes",
        "RemoveNag",
      ],
    };
  },

  methods: {
    ...notificationMethods,
    addNewNagToggle() {
      if (this.addNewNag === false) {
        this.addNewNag = true;
      } else {
        this.addNewNag = false;
      }
    },
    handleDelete(item) {
      Swal.fire({
        title: `You are about to delete ${item.name}`,
        text: `Once deleted you will not be able to reverse this!`,
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "md-button md-success btn-fill",
        cancelButtonClass: "md-button md-danger btn-fill",
        confirmButtonText: "Yes, delete it!",
        buttonsStyling: false,
      }).then((result) => {
        if (result.value) {
          this.RemoveNagFromDB(item);
        }
      });
    },
    RemoveNagFromDB(NAG) {
      let that = this;
      const params = new FormData();
      params.append("TheNagID", NAG.id);
      params.append("action", "RemoveNag");
      api.post("/jsonhandler.php", params).then(function (response) {
        if (response.data != null) {
          that.notifyVue("The NAG has been successfully removed.", "success");
          that.GetReport();
        } else {
          that.notifyVue("The NAG was unable to be removed.", "danger");
        }
      });
    },
    DisabledMessage() {
      this.nagMessage =
        "Your Guardian SmartFlagger has been disabled.  Please contact Site 2020.";
      this.MinutesToNag = "-1";
    },
    NaggedMessage() {
      this.nagMessage =
        "Please contact Site 2020 immediately to arrange payment. Your Guardian SmartFlagger will be disabled from DATE onwards.";
      this.MinutesToNag = "100";
    },
    SubmitNewNag() {
      let that = this;
      const params = new FormData();
      params.append("startOn", that.startOn);
      params.append("expireOn", that.expireOn);
      params.append("nagMessage", that.nagMessage);
      params.append("WhichClientToNag", that.WhichClientToNag);
      params.append("MinutesToNag", that.MinutesToNag);
      params.append("action", "AddNewNagToClient");
      api.post("/jsonhandler.php", params).then(function (response) {
        if (response.data != null) {
          that.notifyVue("The NAG was added successfully.", "success");
          that.startOn = null;
          that.expireOn = null;
          that.nagMessage = null;
          that.MinutesToNag = null;
          that.SelectedClient = "All";
          that.GetReport();
        } else {
          that.notifyVue(
            "The server failed to accept the new NAG. Please try again or contact Development for further assistance.",
            "danger"
          );
        }
      });
    },
    ClearTableView() {
      this.NagReportData = null;
    },
    GetCustomerList() {
      let that = this;
      const params = new FormData();
      params.append("action", "getCustomerList");
      api.post("/jsonhandler.php", params).then(function (response) {
        that.CustomerList = response.data;
      });
    },
    GetReport() {
      let that = this;
      const params = new FormData();
      if (that.SelectedClient == "All") {
        params.append("client_id", that.SelectedClient);
        params.append("action", "getAllClientTabletDisplayMessagesPPNoID");
        api.post("/jsonhandler.php", params).then(function (response) {
          if (response.data != null) {
            that.NagReportData = response.data;
          }
        });
      } else {
        params.append("client_id", that.SelectedClient);
        params.append("action", "getAllClientTabletDisplayMessagesPP");
        api.post("/jsonhandler.php", params).then(function (response) {
          if (response.data != null) {
            that.NagReportData = response.data;
          }
        });
      }
    },
    notifyVue(message, type) {
      this.$notify({
        message: message,
        icon: "add_alert",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: type,
      });
    },
    tableRowStyle({ row, rowIndex }) {
      return "text-align: center; color: black;";
    },
    getClass: function (headerColor) {
      return "md-card-header-" + headerColor + "";
    },
  },
};
</script>
<style></style>
