<template>
  <form>
    <md-card>
      <md-card-header
        class="md-card-header-icon"
        :class="getClass(headerColor)"
      >
        <div class="card-icon">
          <md-icon>perm_identity</md-icon>
        </div>
        <h4 class="title">News Posts</h4>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-small-size-100 md-size-100">
            <md-field>
              <label>News Post Title</label>
              <md-input v-model="NewsPostTitle" type="text" />
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-100">
            <md-field>
              <label>News Post Content</label>
              <md-input v-model="NewsPostContent" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-100">
            <md-field>
              <label>News Post Link</label>
              <md-input v-model="NewsPostLink" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-100 text-right">
            <md-button @click="addNewsPost()" class="md-raised md-success mt-4"
              >Add News Post</md-button
            >
          </div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</template>
<script>
import { notificationMethods } from "@/state/helpers";

export default {
  name: "protector-content",
  props: {
    headerColor: {
      type: String,
      default: "blue",
    },
  },
  data() {
    return {
      NewsPostTitle: "",
      NewsPostContent: "",
      NewsPostLink: "",
    };
  },

  methods: {
    ...notificationMethods,
    notifyVue(message, type) {
      this.$notify({
        message: message,
        icon: "add_alert",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: type,
      });
    },
    updateAllAlerts() {
      const params = new FormData();
      onyxapi.post("/updateAllAlerts", params).then(function () {});
    },
    disableNewsPost(NewsPost) {
      let that = this;
      const params = new FormData();
      params.append("action", "disableNewsPost");
      params.append("NewsPostID", NewsPost.id);
      onyxapi.post("/disablenewspost", params).then(function (response) {
        if (response.data != null) {
          that.notifyVue("The news post was removed successfully.", "success");
          that.setnotifications();
        } else {
          that.notifyVue(
            "The news post failed to be removed. Please try again shortly or contact Site 20/20 Support.",
            "error"
          );
        }
      });
    },
    addNewsPost() {
      let that = this;
      if (
        that.NewsPostTitle != "" &&
        that.NewsPostContent != "" &&
        that.NewsPostContentLink != ""
      ) {
        const params = new FormData();
        params.append("action", "addNewsPost");
        params.append("title", that.NewsPostTitle);
        params.append("content", that.NewsPostContent);
        params.append("link", that.NewsPostLink);
        onyxapi.post("/addnewspost", params).then(function (response) {
          if (response.data != null) {
            that.notifyVue(
              "The new news post has been posted and will be visible to all users.",
              "success"
            );
            that.updateAllAlerts();
            that.setnotifications();
          } else {
            that.notifyVue(
              "The news post failed to post and will not be visible to anyone.",
              "error"
            );
          }
        });
      } else {
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: "md-button md-success",
          },
          buttonsStyling: false,
        });
        swalWithBootstrapButtons.fire({
          title: "Error!",
          text: "You did not fill out all of the fields required!",
          icon: "error",
          confirmButtonText: "Continue",
        });
      }
    },
    getClass: function (headerColor) {
      return "md-card-header-" + headerColor + "";
    },
  },
};
</script>
<style></style>
