<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-size-100">
        <protector-content header-color="blue"> </protector-content>
      </div>
    </div>
  </div>
</template>

<script>
import { ProtectorContent } from "@/pages";
export default {
  components: {
    ProtectorContent,
  },
};
</script>
<style lang="scss">
.text-right {
  display: flex;
}
</style>
