<template>
  <div class="md-layout">
    <time-line :type="simpleTimeline">
      <time-line-item
        v-for="(data, index) in activityData"
        :key="index"
        badge-type="info"
        badge-icon="search"
      >
        <badge slot="header" type="info">{{ data.full_name }}</badge>
        <p slot="content">
          <b>Serial:</b><br />
          {{ data.bst_serial }} <br /><br />
          <b>Command Ran:</b><br />
          {{ data.action }} <br /><br />
          <b>Command Output:</b><br />
          {{ data.output }}
        </p>

        <h6 slot="footer">
          <i class="ti-time"></i>
          {{
            moment(data.datetime)
              .tz($store.state.userProfile.timezone)
              .format("YYYY/MM/DD hh:mm:ss a")
          }}
        </h6>
      </time-line-item>
    </time-line>
  </div>
</template>

<script>
import { TimeLine, TimeLineItem, Badge } from "@/components";
export default {
  components: {
    TimeLine,
    TimeLineItem,
    Badge,
  },
  data() {
    return {
      activityData: [],
      responsive: false,
    };
  },
  watch: {},
  computed: {
    simpleTimeline() {
      if (this.responsive) {
        return "simple";
      }
      return "";
    },
  },
  mounted() {
    this.getAuditLogs();
  },
  methods: {
    getAuditLogs() {
      let that = this;
      const params = new FormData();
      params.append("action", "getAuditLog");
      fleetapi.post("/viewauditlog/", params).then(function (response) {
        that.activityData = response.data;
      });
    },
  },
};
</script>
<style lang="scss">
.text-center {
  text-align: center;
}
.bodyStyle {
  overflow-wrap: break-word;
}
.places-buttons + div .md-button:not(:last-child) {
  margin-right: 5px;
}
</style>
