<template>
  <div class="md-layout text-center">
    <div
      class="
        md-layout-item
        md-size-33
        md-medium-size-50
        md-small-size-70
        md-xsmall-size-100
      "
    >
      <login-card header-color="blue">
        <h4 slot="title" class="title">Partner Portal Login</h4>
        <p slot="description" class="description">
          Login Using Your Username and Password<br /><br />
        </p>
        <md-field class="" slot="inputs">
          <label>Email Address</label>
          <md-input v-model="email" type="email"></md-input>
        </md-field>
        <md-field class="" slot="inputs">
          <label>Password</label>
          <md-input
            v-model="password"
            type="password"
            v-on:keyup.enter="tryToLogIn"
          ></md-input>
        </md-field>
        <md-button
          v-on:click="tryToLogIn"
          slot="footer"
          class="md-simple md-success md-lg"
        >
          Login
        </md-button>
      </login-card>
    </div>
  </div>
</template>
<script>
import { LoginCard } from "@/components";
import { authFackMethods } from "@/state/helpers";
export default {
  components: {
    LoginCard,
  },
  data() {
    return {
      email: null,
      password: null,
    };
  },
  methods: {
    ...authFackMethods,
    tryToLogIn() {
      const { email, password } = this;
      if (email && password) {
        this.login({ email, password });
      }
    },
  },
};
</script>

<style></style>
