<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-size-100">
        <dep-sales-management-content header-color="blue">
        </dep-sales-management-content>
      </div>
    </div>
  </div>
</template>

<script>
import { DepSalesManagementContent } from "@/pages";
export default {
  components: {
    DepSalesManagementContent,
  },
};
</script>
<style lang="scss">
.text-right {
  display: flex;
}
</style>
