<template>
  <div class="md-layout">
    <div class="md-layout-item md-small-size-100 md-size-50">
      <md-card
        style="float: left"
        class="md-layout-item md-small-size-100 md-size-100"
      >
        <h3 style="float: left">Basestations:</h3>
        <center>
          <div
            v-if="basestationsArray === null"
            class="md-layout-item md-small-size-100 md-size-50"
          >
            <el-result
              icon="warning"
              title="Loading"
              subTitle="Loading the list of available basestations."
            />
          </div>
          <div v-else class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Available Basestations</label>
              <md-select v-model="chosenBasestation">
                <p @click="selectOne">
                  <md-option
                    v-for="basestation in basestationsArray"
                    :key="basestation"
                    :value="basestation"
                  >
                    {{ basestation }}</md-option
                  >
                </p>
              </md-select>
            </md-field>
            <br /><br />
          </div>
        </center>
      </md-card>
    </div>
    <div class="md-layout-item md-small-size-100 md-size-50">
      <md-card
        style="float: right"
        class="md-layout-item md-small-size-100 md-size-100"
      >
        <h3 style="float: left">GFS's:</h3>
        <center>
          <div
            v-if="connectedAfadList === null || connectedAfadList === ''"
            class="md-layout-item md-small-size-100 md-size-50"
          >
            <el-result
              icon="warning"
              title="Loading"
              subTitle="Please select a basestation in order to load the connected GSF's."
            />
          </div>
          <div v-else class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Connected GSF's</label>
              <md-select>
                <md-option>AFAD-0111</md-option>
              </md-select>
            </md-field>
            <br /><br />
          </div>
        </center>
      </md-card>
    </div>
    <div class="md-layout-item md-small-size-100 md-size-100">
      <md-card class="md-layout-item md-small-size-100 md-size-100">
        <h3 style="float: left">Commands:</h3>
        <center>
          <div class="md-layout-item md-small-size-100 md-size-100">
            <b-form-radio-group
              v-model="selectedCommand"
              :options="commandList"
              class="mb-3"
              stacked
              style="text-align: left"
              disabled-field="notEnabled"
              text-field="name"
              value-field="item"
            />
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50"></div>
          <div class="md-layout-item md-small-size-100 md-size-100">
            <br />
            <md-textarea
              md-autogrow
              disabled
              style="width: 100%"
              v-if="commandTextArea != ''"
              v-model="commandTextArea"
            ></md-textarea>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-100">
            <br />
            <md-button @click="runCommand" class="md-block md-success"
              >Run {{ selectedCommand }} on {{ chosenBasestation }}</md-button
            >
          </div>
          <!--          <div-->
          <!--            v-if="$store.state.userProfile.user_type === 'PARTNERADMIN'"-->
          <!--            class="md-layout-item md-small-size-100 md-size-100"-->
          <!--          >-->
          <!--            <md-button-->
          <!--              @click="manageModal = true"-->
          <!--              style="float: right"-->
          <!--              class="md-simple md-info"-->
          <!--            >Audit Log</md-button-->
          <!--            >-->
          <!--          </div>-->
        </center>
      </md-card>
    </div>
  </div>
</template>

<script>
import fleetapi from "@/services/fleetapi";

export default {
  name: "basestation-passthrough-content",
  components: {},
  data() {
    return {
      manageModal: false,
      commandTextArea: "",
      runningCommand: false,
      selectedCommand: "",
      commandList: null,
      chosenBasestation: "",
      connectedAfadList: null,
      basestationsArray: null,
    };
  },
  watch: {},
  mounted() {
    this.getBasestations();
    this.getCommandList();
  },
  methods: {
    manageModalHide: function () {
      this.manageModal = false;
    },
    notifyVue(message, type) {
      this.$notify({
        message: message,
        icon: "add_alert",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: type,
      });
    },
    SendToAuditLog(output, result) {
      const params = new FormData();
      params.append("Command", this.selectedCommand);
      params.append("BSTSerial", this.chosenBasestation);
      params.append("Output", output);
      params.append("Result", result);
      params.append("action", "addAuditLog");
      if ((this.chosenAFAD = [])) {
        params.append("Serial", this.chosenBasestation);
      } else {
        params.append("Serial", this.chosenAFAD);
      }
      fleetapi.post("/siteauditlog/", params).then(function (response) {});
    },
    runCommand() {
      let that = this;
      if (that.selectedCommand == "" || that.chosenBasestation == "") {
        that.notifyVue(
          "You need to select a basestation and a command.",
          "warning"
        );
      } else {
        that.notifyVue(
          "The command " +
            that.selectedCommand +
            " is being run on basestation " +
            that.chosenBasestation +
            ". Please wait",
          "success"
        );
        const params = new FormData();
        this.runningCommand = true;
        that.commandTextArea = "";
        params.append("basestation", this.chosenBasestation);
        params.append("command", this.selectedCommand);
        fleetapi.post("/passthrough/", params).then(function (response) {
          that.commandTextArea = response.data.result;
          that.runningCommand = false;
          if (response.data.result == []) {
            that.notifyVue(
              "The command " +
                that.selectedCommand +
                " was unable to be executed on basestation " +
                that.chosenBasestation +
                ".",
              "danger"
            );
            const result = "Failed on Action";
            const output = that.commandTextArea;
            that.SendToAuditLog(output, result);
          } else {
            that.notifyVue(
              "The command " +
                that.selectedCommand +
                " was successfully executed on basestation " +
                that.chosenBasestation +
                ".",
              "success"
            );
            const result = "Success";
            const output = that.commandTextArea;
            that.SendToAuditLog(output, result);
          }
        });
      }
    },
    getCommandList() {
      let that = this;
      fleetapi.get("/command-list/").then(function (response) {
        const commandListObject = response.data;
        var commands = [];
        for (var i in commandListObject) {
          commands.push(i);
        }
        that.commandList = commands;
      });
    },
    selectOne() {
      console.log("Selected Something");
    },
    getBasestations() {
      fleetapi.get("/passthrough/").then((response) => {
        var basestationString = response.data["basestations"].toString();
        this.basestationsArray = basestationString.split(",");
        for (var i = 0; i < this.basestationsArray.length; i++) {
          let basestation = this.basestationsArray[i];
        }
        return this.basestationsArray;
      });
    },
  },
};
</script>
<style lang="scss">
.text-center {
  text-align: center;
}
.bodyStyle {
  overflow-wrap: break-word;
}
.places-buttons + div .md-button:not(:last-child) {
  margin-right: 5px;
}
</style>
