<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-size-100">
        <basestation-passthrough-content header-color="blue">
        </basestation-passthrough-content>
      </div>
    </div>
  </div>
</template>

<script>
import { BasestationPassthroughContent } from "@/pages/";
export default {
  components: {
    BasestationPassthroughContent,
  },
};
</script>
<style lang="scss">
.text-right {
  display: flex;
}
</style>
