<template>
  <div class="md-layout">
    <div class="md-layout-item md-small-size-100 md-size-50">
      <md-card>
        <md-card-header style="background: #343a3f; color: white"
          >Total Times Gates Opened & Closed</md-card-header
        >
        <md-card-content>
          <span v-for="arr in AllGateUpLogs" v-bind:key="arr.id">
            {{ arr.serial }} - {{ arr.total }} Time(s) <br />
          </span>
        </md-card-content>
      </md-card>
    </div>
    <div class="md-layout-item md-small-size-100 md-size-50">
      <md-card>
        <md-card-header style="background: #343a3f; color: white"
          >Longest Gate Down Time</md-card-header
        >
        <md-card-content>
          <span v-for="arr in MaxGateDownTime" v-bind:key="arr.id">
            {{ arr.serial }} - {{ parseInt(arr.minutes).toFixed(1) }} minutes at
            {{
              moment(arr.datetime)
                .tz($store.state.userProfile.timezone)
                .format("HH:mm")
            }}
            <br />
          </span>
        </md-card-content>
      </md-card>
      <!--<b-table v-if="displayTable = true" :fields="TrafficReportFields" :items="AllStateChanges" responsive sticky-header striped></b-table>-->
    </div>
    <md-button
      @click="GetGateStatus()"
      v-on:click="displayTable = true"
      class="md-info"
      >View Full Gate Movement Log</md-button
    >
    <modal v-if="displayTable" @close="displayTableHide">
      <template slot="header">
        <h4 class="modal-title">Full Gate Log</h4>
        <md-button
          class="md-simple md-just-icon md-round modal-default-button"
          @click="displayTableHide"
        >
          <md-icon>clear</md-icon>
        </md-button>
      </template>

      <template slot="body">
        <div class="md-layout md-small-size-100 md-size-100">
          <el-table
            :header-cell-style="tableRowStyle"
            :cell-style="tableRowStyle"
            :data="AllStateChanges"
            max-height="250"
          >
            <el-table-column label="Serial Number" prop="serial">
            </el-table-column>
            <el-table-column label="Gate Status" prop="message">
            </el-table-column>
            <el-table-column label="Date/Time" prop="datetime">
            </el-table-column>
          </el-table>
        </div>
      </template>
    </modal>
  </div>
</template>

<script>
import { Modal } from "@/components";
export default {
  components: {
    Modal,
  },
  name: "GateStatusContent",
  props: ["afads", "start", "end"],

  data() {
    return {
      AllStateChanges: null,
      AllGateUpLogs: null,
      displayTable: false,
      AllGateDownLogs: null,
      MaxGateDownTime: null,
      TrafficReportFields: [
        {
          key: "serial",
          label: "Serial Number",
          sortable: true,
        },
        {
          key: "message",
          label: "Gate State",
          sortable: true,
        },
        {
          key: "datetime",
          label: "Date/Time",
          sortable: true,
        },
      ],
    };
  },
  methods: {
    displayTableHide: function () {
      this.displayTable = false;
    },
    GetGateStatus() {
      let that = this;
      const params = new FormData();
      params.append("afads", this.$props.afads);
      params.append("start", this.$props.start);
      params.append("end", this.$props.end);
      params.append("action", "GetGateStatus");
      api.post("/jsonhandler.php", params).then(function (response) {
        that.AllStateChanges = response.data;
        that.displayTable = true;
      });
    },
    GetTotalGatesUp() {
      let that = this;
      const params = new FormData();
      params.append("afads", this.$props.afads);
      params.append("start", this.$props.start);
      params.append("end", this.$props.end);
      params.append("action", "GetTotalGateUpCount");
      api.post("/jsonhandler.php", params).then(function (response) {
        that.AllGateUpLogs = response.data;
      });
    },
    GetTotalGatesDown() {
      let that = this;
      const params = new FormData();
      params.append("afads", this.$props.afads);
      params.append("start", this.$props.start);
      params.append("end", this.$props.end);
      params.append("action", "GetTotalGateDownCount");
      api.post("/jsonhandler.php", params).then(function (response) {
        that.AllGateDownLogs = response.data;
      });
    },
    GetGateMaxClosedTimes() {
      let that = this;
      const params = new FormData();
      params.append("afads", this.$props.afads);
      params.append("start", this.$props.start);
      params.append("end", this.$props.end);
      params.append("action", "GetGateMaxClosedTimes");
      api.post("/jsonhandler.php", params).then(function (response) {
        that.MaxGateDownTime = response.data;
      });
    },
    tableRowStyle({ row, rowIndex }) {
      return "text-align: center; color: black;";
    },
  },
  mounted() {
    this.GetTotalGatesUp();
    this.GetGateMaxClosedTimes();
  },
};
</script>
