<template>
  <form>
    <md-card>
      <md-card-header
        class="md-card-header-icon"
        :class="getClass(headerColor)"
      >
        <div class="card-icon">
          <md-icon>person_add</md-icon>
        </div>
        <h4 class="title">Add a New User</h4>
      </md-card-header>

      <md-card-content>
        <div class="md-layout md-small-size-100 md-size-100">
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>First Name</label>
              <md-input v-model="first_name" />
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Last Name</label>
              <md-input v-model="last_name" />
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Email Address (Username)</label>
              <md-input v-model="email" type="email" />
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Phone Number</label>
              <md-input v-model="phone_number" />
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Password</label>
              <md-input type="password" v-model="password" />
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Confirm Password</label>
              <md-input type="password" v-model="confirm_password" />
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-100">
            <md-field>
              <label>User Type {{ user_type }}</label>
              <md-select v-model="user_type">
                <md-option value="PARTNER">Partner</md-option>
              </md-select>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-100">
            <md-button
              @click="addNewEmployee"
              class="md-success"
              style="float: right"
              >Add New User</md-button
            >
          </div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</template>
<script>
import Swal from "sweetalert2";
import { employeeListMethods } from "@/state/helpers";

export default {
  components: {},
  name: "add-user-content",
  props: {
    headerColor: {
      type: String,
      default: "blue",
    },
  },
  mounted() {},
  data() {
    return {
      first_name: null,
      last_name: null,
      email: null,
      phone_number: null,
      password: null,
      confirm_password: null,
      user_type: "PARTNER",
    };
  },

  methods: {
    ...employeeListMethods,
    formReset() {
      let that = this;
      that.first_name = null;
      that.last_name = null;
      that.email = null;
      that.phone_number = null;
      that.password = null;
      that.confirm_password = null;
      that.user_type = null;
    },
    addNewEmployee() {
      let that = this;
      if (
        that.password == that.confirm_password &&
        that.password != "" &&
        that.confirm_password != "" &&
        that.first_name != null &&
        that.last_name != null &&
        (that.email != null) & (that.phone_number != null) &&
        that.first_name != "" &&
        that.last_name != "" &&
        (that.email != "") & (that.phone_number != "")
      ) {
        const params = new FormData();
        params.append("action", "createNewUserAccount");
        params.append("first_name", that.first_name);
        params.append("last_name", that.last_name);
        params.append("phone_number", that.phone_number);
        params.append("email", that.email);
        params.append("userType", that.user_type);
        params.append("confirmTempPassword", that.confirm_password);
        api.post("/jsonhandler.php", params).then(function (response) {
          if (response.data != null) {
            that.formReset();
            that.allemployees();
            const swalWithBootstrapButtons = Swal.mixin({
              customClass: {
                confirmButton: "md-button md-success",
              },
              buttonsStyling: false,
            });
            swalWithBootstrapButtons.fire({
              title: "User Created!",
              text: "The user was successfully created!",
              icon: "success",
              confirmButtonText: "Continue",
            });
            that.formReset();
          } else {
            const swalWithBootstrapButtons = Swal.mixin({
              customClass: {
                confirmButton: "md-button md-success",
              },
              buttonsStyling: false,
            });
            swalWithBootstrapButtons.fire({
              title: "Error!",
              text: "This username already exists! Please select a different username before you continue.",
              icon: "error",
              confirmButtonText: "Continue",
            });
          }
        });
      } else {
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: "md-button md-success",
          },
          buttonsStyling: false,
        });
        swalWithBootstrapButtons.fire({
          title: "Error!",
          text: "The temporary passwords did not match, or you didn't fill out all of the fields!",
          icon: "error",
          confirmButtonText: "Continue",
        });
      }
    },
    getClass: function (headerColor) {
      return "md-card-header-" + headerColor + "";
    },
  },
};
</script>
<style>
.text-center {
  text-align: center;
}
</style>
