<template>
  <router-view></router-view>
</template>

<script>
import store from "@/state/store";
import { userprofileMethods } from "./state/helpers";
import { notificationMethods } from "./state/helpers";
import { employeeListMethods } from "./state/helpers";
import { customerListMethods } from "./state/helpers";
export default {
  mounted() {},
  methods: {
    ...userprofileMethods,
    ...customerListMethods,
    ...notificationMethods,
    ...employeeListMethods,
    loadData() {
      this.setprofile();
      this.setnotifications();
      this.allemployees();
      this.allcustomers();
      this.GetAlertStatus();
    },
  },
};
</script>
