<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-size-100">
        <fleet-usage-report-content header-color="blue">
        </fleet-usage-report-content>
      </div>
    </div>
  </div>
</template>

<script>
import { FleetUsageReportContent } from "@/pages";
export default {
  components: {
    FleetUsageReportContent,
  },
};
</script>
<style lang="scss">
.text-right {
  display: flex;
}
</style>
