<template>
  <form>
    <md-card>
      <md-card-header
        class="md-card-header-icon"
        :class="getClass(headerColor)"
      >
        <div class="card-icon">
          <md-icon>person_add</md-icon>
        </div>
        <h4 class="title">Site Feedback</h4>
      </md-card-header>

      <md-card-content>
        <div class="md-layout md-small-size-100 md-size-100">
          <div class="md-layout-item md-small-size-100 md-size-100">
            <span>
              <center>
                We are always looking for new ways to improve the Partner Portal
                expierence.<br />
                If you have any suggestions or feedback please feel free to send
                in your suggestions using the box below.<br /><br />
                <b
                  >For urgent matters or technical support, please call 1 (800)
                  470-3077.</b
                >
              </center>
            </span>
            <md-field>
              <md-textarea
                id="feedbacktext"
                md-autogrow
                v-model="userfeedback"
                placeholder="Type your feedback here..."
              ></md-textarea>
            </md-field>
            <md-button
              style="float: right"
              type="submit"
              class="md-success"
              v-on:click="onClick"
              >Submit Feedback</md-button
            >
          </div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</template>
<script>
import Swal from "sweetalert2";
import { employeeListMethods } from "@/state/helpers";
import router from "../../../../../routes";

export default {
  components: {},
  name: "feedback-content",
  props: {
    headerColor: {
      type: String,
      default: "blue",
    },
  },
  mounted() {},
  data() {
    return {
      feedbackmsg: "",
      userfeedback: "",
    };
  },

  methods: {
    onClick() {
      if (!this.feedbackmsg) {
        this.feedbackmsg = null;
        let that = this;
        const params = new FormData();
        params.append("action", "submitFeedback");
        params.append("message", this.userfeedback);
        params.append("customer_name", this.$store.state.userProfile.name);
        params.append("first_name", this.$store.state.userProfile.first_name);
        params.append("last_name", this.$store.state.userProfile.last_name);
        api
          .post("/jsonhandler.php", params)
          .then(function (response) {
            if (response.status === 200) {
              that.UnitLogs = response.data;
              that.feedbackmsg =
                "Message sent successfully. Thanks for your feedback.";
            }
          })
          .catch(function (response) {
            that.feedbackmsg = "Message failed to send. Please try again..";
          });
      }
    },
    getClass: function (headerColor) {
      return "md-card-header-" + headerColor + "";
    },
  },
};
</script>
<style>
.text-center {
  text-align: center;
}
</style>
